@import '~ui/styles/vunet_variable_theme.less';

.data-source-type-box {
  /* these styles will let the divs line up next to each other
     while accepting dimensions */
  display: block;
  float: left;

  width: 150px;
  height: 150px;
  background: black;

  /* a small margin to separate the blocks */
  margin-right: 5px;
}

.data-source-configuration .modal-dialog {
  width: 72%;
}

.data-source-name {
  font-size: 15px;
  margin-top: 15px;
}

.data_source_type_box {
  padding: 5px;
}

.data_source_list_types {
  margin:15px;
}

.data-source-add-button {
  margin-right:25px;
}

.grey-block{
  padding-top:2rem;
}

.data-source-import-close-button {
  margin-left:50%;
}

.data-source-import-template-link {
  color:blue;
}

.data-source-import-close-font-awesome {
  font-size:22px;
  cursor:pointer;
}

.data-source-template-button {
  float:right;
}

.data-source-configuration-step {
font-size: 21px;
background-color: #fff;
border-radius: 50%;
width: 67%;
padding: 5px 12px;
  margin-right: 8px;
color: #000;
}

.data-source-configuration-title {
  color: white;
}

.data-source-configuration-header {
  background-color: #2E3458;
  padding:4px;
}

.data-source-configuration-header-row {
  margin-left: -10px;
}

.data-source-data-received-icon-green {
  color: green;
}

.data-source-data-received-icon-red {
  color: red;
  bottom: -.5rem;
  font-size:3.1rem;
}

.data-source-configuration-header-arrow {
  float: right;
  margin-top:-4px;
}

.data-source-configuration-header-col {
  margin-top:5px;
}

.data-source-table {
  margin-top: 20px;
}

.data-source-resource-icon {
  margin-left:8px;
}

.add_data_source_configuration_tab {
  height:370px;
  overflow-y:auto;
  overflow-x:hidden;
}

.add_data_source_remote_config_tab_body {
  margin-left:20px;
  margin-top:20px;
  font-size:18px;
}

.add_data_source_remote_config_tab_header {
  font-size:22px;
}

.add_data_source_data_received_tab_header {
  font-size:22px;
}

.add_data_source_data_received_text {
  margin:20px;
}

.add_data_source_data_received_row {
  margin-top:15px;
  font-size: 17px;
}

.add_data_source_data_received_row_label {
  margin-top:8px;
}

.add_data_source_data_received_icon_green {
  color: green;
}

.fa-stack{
  top:.4rem;
}

.add_data_source_dataReceived_icon_red {
  color: red;
}

.add_data_source_data_received_icon {
  margin-top:1px;
  font-size: 23px;
}

.data-source-agent-config-row {
  padding:7px;
}

.data-source-field-tooltip {
  padding:7px;
}

.data-source-add-target-button {
  padding-bottom:14px;
}

.data-source-target-input {
  padding-bottom:7px;
}

.data-source-target-action-buttons {
  padding-top:6px;
}

.data-source-target-action-delete {
  padding-right:6px;
}

.data_source_configuration_attribute_name {
  float:right;
}

table.table-lightBorder {
  border: 1px solid #bdbdbd;
  border-collapse: collapse;
}

table.table-lightBorder thead th  {
  border: 1px solid #bdbdbd;
}

.datasource-wrapper table tr td {
  word-wrap: break-word;
  word-break: break-all;
div {
   word-wrap: break-word;
   word-break: break-all;
}
}

.addDataSourceForm {
.tooltip-inner {
  max-width: 250px;
}
}

//Import DATA POPUP CSS


.importXlsForm{
  .importXls-form-group{
    padding-bottom: 1rem;
    .control-label{
      font-size:1.6rem;
      font-family:@barlow-semibold;
    }
    .zero-padding{
      padding:0px;
      .display-inline{
        display:inline;
      }
    }
    .form-control{
      margin-left: 2rem;
      width:90%;
      border-radius: 1rem;
    }
  }
  .modal-footer-buttons{
    margin-right: 2rem;
  }
  .help-block {
    margin: 1rem 0px 0px 2rem;
    color: @notifier_red ;
  }
  .index-helper{
    margin-left :2rem!important;
    color:@notifier_green;
  } 
}
.importXlsForm{
  padding: 3rem 2rem 2rem 2rem;
  border-top: .1rem solid @box_shadow_color;
}

.import-data-message{
  margin-top: 1.5rem;
}

.index-helper{
margin: 1rem 0px 0px 0px !important;
}