<div class="import-enrichment-success " ng-if="successfulUpload">
  <i class="fa fa-check"></i>
  File has been imported successfully .
  <h4 class="import-data-message">Please check the data in index : {{index_name}}</h4>
</div>

<div ng-show='!successfulUpload'>
  <p class="import-modal-header">Import Data Sets From a File</p>
  <form class="form-horizontal importXlsForm" name="importXlsForm" novalidate>
    <!-- Import XLS  -->
    <div class="form-group importXls-form-group" ng-class="{'has-error': moreThanOneSheetsInFile || isEmptyHeaderPresent || isFileSizeMore || isFileTypeWrong , 'has-warning' : importXlsForm.timeField.$touched && importXlsForm.file.$invalid } ">
      <label class="col-sm-3 control-label zero-padding">Import a XLS File</label>
      <div class="col-sm-9">
        <input class="btn vunet-btn-file-import btn-file" type="file" ng-model="File" name="file" id="file"
          ngf-multiple="false" ngf-pattern="'.xls,.xlsx'" accept=".xls,.xlsx" required ngf-select="exportExcel($event)">
        <div id="reading-file" ng-if="readingFile"> Reading File ...</div>
        <span class="help-block" ng-if="isEmptyHeaderPresent">One or more merged or empty headers are present.</span>
        <span class="help-block" ng-if="moreThanOneSheetsInFile">More than 1 sheet in uploaded excel file.</span>
        <span class="help-block" ng-if="isFileSizeMore">File size is more than 5 MB</span>
        <span class="help-block" ng-if="isFileTypeWrong">Only file types with *.xlsx and *.xls are supported.</span>
      </div>
    </div>

    <!-- FEED DATA INTO -->
    <div ng-show='File'>
      <div class="form-group importXls-form-group" ng-class="{'has-error': importXlsForm.indexName.$invalid &&  importXlsForm.indexName.$touched }">
        <label class="col-sm-3 control-label zero-padding">Load Data Into
            <div class="display-inline" uib-tooltip="Please select the Index name where data will be stored." tooltip-placement="bottom">
              <i class="fa fa-question-circle"></i>
            </div>
          </label>
        <div class="col-sm-9">
          <ui-select
            required
            name="indexName"
            ng-model="indexPattern.name"
          >
            <ui-select-match placeholder="Select an existing index or provide a new one">
              {{$select.selected}}
            </ui-select-match>
            <ui-select-choices
              repeat="option in indexPatternList
                | filter: $select.search
                | orderBy"
              refresh="addUserIndex($select)"
            >
              <div ng-bind-html="option | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
          <p ng-if="indexPattern.name" class="index-helper">The Index name will be saved as
            vunet-{{indexStringInfo}}-{{indexPattern.name}}</p>
        </div>
      </div>
      <!-- TIME FIELD -->
      <div class="form-group importXls-form-group" ng-class="{'has-error': importXlsForm.timeField.$invalid &&  importXlsForm.timeField.$touched }">
        <label class="col-sm-3 control-label zero-padding">Time Field
          <div class="display-inline" uib-tooltip="Time fields generated from xls file. Please select the timestamp field." tooltip-placement="bottom">
            <i class="fa fa-question-circle"></i>
          </div>
        </label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="time_field" name="timeField" ng-options="header for header in uniqueHeaders"
            required>
            <option value="" disabled selected hidden>Select a time field for your index</option>
          </select>
        </div>
      </div>
      <!-- ADVANCED FIELDS -->
      <div class="form-group importXls-form-group">
        <label class="col-sm-3 control-label zero-padding">Advanced fields
          <kbn-tooltip
            text="Use this to add additional fields"
            placement="right"
            tooltip-append-to-body="1">
            <span>
              <i
                class="fa fa-question-circle"
                aria-hidden="true">
              </i>
            </span>
          </kbn-tooltip>
        </label>
        <input
          type="checkbox"
          class="vudata-checkbox"
          ng-model="advancedFields"
          ng-disabled="displayOnlyTabularFormat()"
          ng-change="enableHorizontalViewFormat()"
        />
      </div>
      <!-- CUSTOM TIME FIELD FORMAT -->
      <div class="form-group importXls-form-group" ng-show="advancedFields">
        <label class="col-sm-3 control-label zero-padding">Time Format
          <div class="display-inline" uib-tooltip="Please select the format for the timestamp field." tooltip-placement="bottom">
            <i class="fa fa-question-circle"></i>
          </div>
        </label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="time_format" name="customTimeFormat" ng-options="format for format in customDateFormats">
            <option value="" class="timestamp" disabled selected hidden>Select format of the time field if text</option>
          </select>
        </div>
      </div>
      <!-- DOC TYPE -->
      <div class="form-group importXls-form-group" ng-show="advancedFields">
        <label class="col-sm-3 control-label zero-padding">Document Type
          <div class="display-inline" uib-tooltip="Type of the document" tooltip-placement="bottom">
            <i class="fa fa-question-circle"></i>
          </div>
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="doc_type" name="docType" ng-maxlength='32' placeholder="Optional document type">
          <span class="help-block" ng-if="importXlsForm.docType.$error.maxlength">Document type should not exceed 32
            characters.</span>
        </div>
      </div>
      <!-- CUSTOM STRING -->
      <div class="form-group importXls-form-group" ng-show="advancedFields">
        <label class="col-sm-3 control-label zero-padding">Custom Field
          <div class="display-inline" uib-tooltip="This should be in {key:value} format and will be added to each document" tooltip-placement="bottom">
            <i class="fa fa-question-circle"></i>
          </div>
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="custom_field" name="customField" ng-maxlength='100' placeholder="Optional custom field">
          <span class="help-block" ng-if="importXlsForm.customField.$error.maxlength">Custom field should not exceed 100
            characters.</span>
        </div>
      </div>
      <!-- ADD EXTRA COLUMN ON HOLD FOR NOW -->
      <!-- <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#addColumn">Specify additional Columns to be added
                            <i class="fa fa-question-circle">
                                <a href="" tooltip="Specify column to add" tooltip-placement="bottom">
                            </i>
                        </a>
                    </h4>
                </div>
                <div id="addColumn" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group importXls-form-group">
                            <label class="col-sm-3 control-label">Column Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="column_name" name="columnName" required>
                            </div>
                        </div>
                        <div class="form-group importXls-form-group">
                            <label class="col-sm-3 control-label">Value</label>lue
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="value" name="value" required>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-link"> Add another column </button>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
    <div class='row modal-footer-buttons'>
      <div class='col-sm-offset-8 col-sm-2'>
        <button class="btn btn-vunet-cancel" ng-click="cancel()">Cancel</button>
      </div>
      <div class='col-sm-2'>
        <button class="btn btn-vunet-submit" ng-disabled="importXlsForm.$invalid || moreThanOneSheetsInFile || isEmptyHeaderPresent || isFileSizeMore || isFileTypeWrong"
          ng-click="importExcelData()">Submit</button>
      </div>
  </form>
</div>