@import '~ui/styles/vunet_variable_theme.less';

.pii-data-title {
    font-family     : @inter-medium;
    font-weight     : normal;
    color           : @network-asset-title-color;
    position        : relative;
    padding         : 2rem 0rem 0rem 3rem;
    font-size       : 1.9rem;
    min-height      : 7rem;
    background-color: @network-title-color;
    border          : none;
}

.piiData-container {
    margin          : 4.2% 8.4% 4.2% 8.4%;
    box-shadow      : 0rem 0rem 1rem 0.3rem @box_shadow_color;
    border-radius   : 1rem;
    border-collapse : collapse;
    background-color: @white;
    height          : 25rem;
}