<div
  class="container-fluid anomaly-body-container"
  role="main"
  ng-show="!listAnomaly"
>
  <form
    name="anomalyForm"
    id="anomalyForm"
  >
    <h4 class="step-title">
      <span class="step-indicator">1</span>
      What's this anomaly about ?
    </h4>
    <div class="anomaly-section">
      <div class="row anomaly-component-wrapper">
        <div class="row">
          <div class="col-md-2">
            <p class="anomaly-component-label">Description</p>
          </div>
          <div class="col-md-10">
            <textarea
              type="text"
              rows="4"
              cols="40"
              class="anomaly-description"
              name="anomalyDescription"
              ng-model="description"
              ng-maxlength="200"
              maxlength="200"
              ng-class="{error: anomalyForm.anomalyDescription.$error.required}"
              required
            ></textarea>
            <p
              class="error-highlight"
              ng-show="anomalyForm.anomalyDescription.$error.maxlength"
            >
              'Description' content must be less than 200 characters
            </p>
          </div>
        </div>
      </div>
    </div>
    <h4 class="step-title">
      <span class="step-indicator">2</span>
      Set Conditions
    </h4>
    <div class="anomaly-section anomaly-component-wrapper">
      <div class="row bottom-space">
        <p class="anomaly-component-label anomaly-condition">Check data source</p>
        <select
          class="anomaly-select anomaly-condition"
          name="selectedIndex"
          ng-options="option.title for option in indexPatternList"
          ng-model="selectedIndex"
          ng-class="{error: anomalyForm.selectedIndex.$error.required}"
          ng-change="setIndexPattern($index)"
          required
        ></select>
        <p class="anomaly-component-label anomaly-condition"> with type </p>
        <div class="anomaly-condition">
          <input
            type="text"
            class="anomaly-text"
            ng-model="type"
            name="type"
            ng-maxlength="200"
            ng-class="{error: anomalyForm.type.$error.required}"
            required
          >
          <p
            class="error-highlight"
            ng-show="anomalyForm.type.$error.maxlength"
          >
          'type' content must be less than 200 characters
          </p>
        </div>
      </div>
      <div class="row bottom-space">
        <p class="anomaly-component-label anomaly-condition">Detect anomalies in </p>
        <select
          class="anomaly-select anomaly-condition"
          ng-model="metric"
          ng-change="updateRuleType()"
          name="metric"
          ng-class="{error: anomalyForm.metric.$error.required}"
          required
        >
          <option value="count">Count</option>
          <option value="sum">Sum</option>
          <option value="average">Average</option>
          <option value="min">Min</option>
          <option value="max">Max</option>
        </select>
        <p class="anomaly-component-label anomaly-condition"> of </p>
        <select
          ng-show="!countIsSelected"
          class="anomaly-select anomaly-condition"
          name="selectedField"
          ng-options="field.name group by field.type for field in indexFields | filter:field.type='number'"
          ng-model="selectedField"
          ng-class="{error: anomalyForm.selectedField.$error.required}"
          ng-required="!countIsSelected"
        ></select>
        <p
          ng-show="countIsSelected"
          class="anomaly-component-label anomaly-condition"
        >
          events
        </p>
        <p class="anomaly-component-label anomaly-condition">based on window size </p>
        <div class="anomaly-condition">
          <input
            type="number"
            class="anomaly-numericals"
            ng-model="windowSize"
            min="1"
            name="windowSize"
            ng-class="{error: anomalyForm.windowSize.$error.required}"
            required
          >
          <p
            class="error-highlight"
            ng-show="anomalyForm.windowSize.$error.min"
          >
            'window size' should be a positive number
          </p>
        </div>
      </div>
      <div class="row bottom-space">
        <p class="anomaly-condition anomaly-component-label">
          Monitor separately for each
          <kbn-tooltip
            text="Monitor separately based on these parameters. For example in case of Bandwidth utilization, you would want to monitor separately for each interface of each router. In such a case, you would select data source as 'vunet-1-1-network-health-*' and first value in this field as 'host' and the next field as 'name'"
            placement="right"
            append-to-body="1"
          >
            <i class="fa fa-question-circle"></i>
          </kbn-tooltip>
        </p>
        <div class="anomaly-condition">
          <div
            data-ng-repeat="item in groupByFieldList track by $index"
            ng-init="innerIndex=$index">
            <p>
              <select
                class="anomaly-select groupby-option"
                name="groupByFieldList"
                ng-options="field.name group by field.type for field in indexFields"
                ng-model="item.data"
              >
                <option value=''> </option>
              </select>
              <button
                ng-show="groupByFieldList.length > 1"
                class="crud_buttons"
                type="button"
                class="remove"
                ng-click="removeGroupByField(innerIndex)"
              >
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </p>
          </div>
          <div
            class="row bottom-space"
            ng-show="groupByFieldList.length < 3"
          >
            <button
              class="add-new-field"
              type="button"
              ng-click="addNewGroupByField($index)"
            >
              <span>Add another field</span>
              <i
                class="fa fa-plus-circle"
                aria-hidden="true"
              ></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row bottom-space anomaly-model">
        <p class="anomaly-condition anomaly-component-label">
          Select model
          <kbn-tooltip
            text="Simple: Simple moving average model which calculates the average over a window size. This is the simplest, yet powerful method to understand the underlying trend in a time series data.
            EWMA: Exponentially weighted moving average model that gives weights and importance to the data points. Older data-points becomes exponentially less important.
            Holt: Model that  can be used when there is an underlying trend in the data. For example, when the data has a linear trend, this model will be able to track it.
            Holt_Winters: Model that can track trend as well as seasonality, if present in the data. This model can be used when there is known seasonality present in the data."
            placement="right"
            append-to-body="1"
          >
            <i class="fa fa-question-circle"></i>
          </kbn-tooltip>
        </p>
        <select
          class="anomaly-select anomaly-condition"
          name="modelType"
          ng-model="modelType"
          ng-class="{error: anomalyForm.modelType.$error.required}"
          required
        >
          <option value="simple">Simple</option>
          <option value="ewma">Ewma</option>
          <option value="holt">Holt</option>
          <option value="holt_winters">Holt Winters</option>
        </select>
        <div ng-show="modelType=='holt_winters'">
          <p class="anomaly-component-label anomaly-condition">
            with periodicity
            <kbn-tooltip
              text="To specify this seasonality, peridocity should be specified.For eg:, if the data has cyclic trends every 7 days, set periodicity as 7."
              placement="right"
              append-to-body="1"
            >
              <i class="fa fa-question-circle"></i>
            </kbn-tooltip>
          </p>
          <div class="anomaly-condition">
            <input
              type="number"
              class="anomaly-numericals"
              ng-model="periodicity"
              name="periodicity"
              min="1"
              ng-change="validatePeriodicity()"
              ng-class="{error: anomalyForm.periodicity.$error.required}"
            >
            <p
              class="error-highlight"
              ng-show="anomalyForm.periodicity.$error.min"
            >
              'periodicity' should be a positive number
            </p>
            <p
              class="error-highlight"
              ng-if="isPeriodicityValid"
            >
              'Window size' must be greater than 2 times the value of periodicity
            </p>
          </div>
        </div>
      </div>
      <div class="row bottom-space">
        <p class="anomaly-condition anomaly-component-label">Store results with document type </p>
        <input
          type="text"
          class="anomaly-text"
          ng-model="docType"
          ng-pattern="/^[a-zA-Z][a-zA-Z-_]*$/"
          name="docType"
          ng-class="{error: anomalyForm.docType.$error.pattern || anomalyForm.docType.$error.required}"
          required
        >
        <p
          class="error-highlight"
          ng-if="anomalyForm.docType.$error.pattern"
        >
          'doc type' can contain only alphabets with hyphen( - ) and underscore( _ )
        </p>
      </div>
      <div class="row bottom-space">
        <p class="anomaly-component-label anomaly-condition">
          Filter
          <kbn-tooltip
            text="Use this to enter additional filters.To perform a free text based filter, simply enter a text string. To filter based on a value in a specific field, prefix the value with the name of the field. For example, enter status:200 to limit the rule to data that contain the value 200 in the status field. To specify multiple such conditions, use operators"
            placement="right"
            append-to-body="1"
          >
            <i class="fa fa-question-circle"></i>
          </kbn-tooltip>
        </p>
        <input
          type="text"
          class="anomaly-filter anomaly-condition"
          name="filter"
          ng-model="filter"
        >
      </div>
      <div class="row bottom-space">
        <p class="anomaly-component-label add-new-field advanced-settings-button">
          Advanced Settings
          <input
            type="checkbox"
            class="advanced-checkbox"
            ng-model="advancedCheckbox"
            ng-change="resetAdvancedSettingFields()"
            name="advancedCheckbox"
          >
        </p>
        <div
          ng-show="advancedCheckbox"
          class="row bottom-space"
        >
          <div class="col-md-5 advanced-section">
            <div class="row">
              <div class="col-md-5">
                <p class="anomaly-condition anomaly-component-label">
                  Macro Interval
                  <kbn-tooltip
                    text="This specifies interval to divide the entire time_duration. If the user has specified interval as 1 day and total time_duration is say 1 week, then there will be 7 buckets formation, 1 for each day."
                    placement="right"
                    append-to-body="1"
                  >
                    <i class="fa fa-question-circle"></i>
                  </kbn-tooltip>
                </p>
              </div>
              <div class="col-md-7">
                <div class="anomaly-condition">
                  <input
                    type="number"
                    class="anomaly-numericals"
                    ng-model="macroInterval"
                    min="1"
                    name="macroInterval"
                    ng-class="{error: anomalyForm.macroInterval.$error.required}"
                  >
                  <select
                    class="alert-select"
                    ng-model="macroIntervalType"
                    ng-required= "macroInterval"
                    name="macroIntervalType"
                    ng-class="{error: anomalyForm.macroIntervalType.required}"
                  >
                    <option value=""></option>
                    <option value="minute">Minute</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                  </select>
                  <p
                    class="error-highlight"
                    ng-show="anomalyForm.macroInterval.$error.min"
                  >
                    'Macro interval' should be a positive number
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p class="anomaly-condition anomaly-component-label">
                  Micro Interval
                  <kbn-tooltip
                    text="This configuration is used as trick in order to compute moving standard deviations for functions other than average(i.e min, max, ount, sum). Consider the user has chosen the time_duration as 1 month. Let's divide 1 month into 30 buckets of 1 day each, so the interval1 is 1 day. Now in order to compute the moving average and moving standard deviation say for a window of length 5 days, we need to have average and standard deviation for each day."
                    placement="right"
                    append-to-body="1">
                    <i class="fa fa-question-circle"
                  ></i>
                  </kbn-tooltip>
                </p>
              </div>
              <div class="col-md-7">
                <div class="anomaly-condition">
                  <input
                    type="number"
                    class="anomaly-numericals"
                    ng-model="microInterval"
                    min="1"
                    name="microInterval"
                    ng-class="{error: anomalyForm.microInterval.$error.required}"
                  >
                  <select
                    class="alert-select"
                    ng-model="microIntervalType"
                    ng-required="microInterval"
                    name="microIntervalType"
                    ng-class="{error: anomalyForm.microIntervalType.required}"
                  >
                    <option value=""></option>
                    <option value="minute">Minute</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                  </select>
                  <p
                    class="error-highlight"
                    ng-show="anomalyForm.microInterval.$error.min"
                  >
                    'Micro interval' should be a positive number
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p class="anomaly-condition anomaly-component-label">
                  Time Duration
                  <kbn-tooltip
                    text="This configuration sets the duration for which the data will be considered for creating time series model.This is basically the historical data taken into account. It can take value like: '5d' for 5 days, '1M' for 1 Month and so on. This data will be from current time back until the user specified time period"
                    placement="right"
                    append-to-body="1"
                  >
                    <i class="fa fa-question-circle"></i>
                  </kbn-tooltip>
                </p>
              </div>
              <div class="col-md-7">
                <div class="anomaly-condition">
                  <input
                    type="number"
                    class="anomaly-numericals"
                    ng-model="timeDuration"
                    min="1"
                    name="timeDuration"
                    ng-class="{error: anomalyForm.timeDuration.$error.required}"
                  >
                  <select
                    class="alert-select"
                    ng-model="timeDurationType"
                    ng-required="timeDuration"
                    name="timeDurationType"
                    ng-class="{error: anomalyForm.timeDurationType.required}"
                  >
                    <option value=""></option>
                    <option value="minute">Minute</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                  </select>
                  <p
                    class="error-highlight"
                    ng-show="anomalyForm.timeDuration.$error.min"
                  >
                    'Time Duration' should be a positive number
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
