@import '~ui/styles/vunet_variable_theme.less';

.vunet-credentials-directive{
  .vunet-credentials-container{
    padding:2.7rem 7rem 0rem 7rem;
    .credential-table-header{
      position:relative;
      font-size:1.7rem;  
      top:3.5rem;
      left:3rem;
      color:#5a4fef;
      font-family: @roboto-medium ;
    }
  }
  .kuiLocalNav{
    .kuiLocalNavRow{
      .kuiLocalNavRow__section{
        display:none;
      }
    }
  }
}
