.data-retention-container {
  padding: 2.7rem 7rem 0rem 7rem;

  /* width for Tooltip */
  .vunet-dynamic-form-div {
    .form-components-wrapper {
      .form-group .dynamic-form-tooltip {
        .tooltiptext {
          width: 40rem;
          padding: 1rem;
        }
      }
    }
  }
}
