@import "~ui/styles/vunet_variable_theme.less";

.view-snapshot {
  .navigate-to-snaps {
    position        : sticky;
    top             : 0;
    padding         : 0.5rem 0;
    background-color: @white;
  }

  .snap-data {
    margin-top: 1rem;
  }
}