@import "~ui/styles/vunet_variable_theme.less";

.tabs-section{
    display: flex;
    justify-content: flex-start;
    margin: 0rem 3rem;

    .individual-tab{
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        margin: 1rem 2rem;
    }

    #devices{
        margin-left: 0rem;
    }

    .selected-tab{
        border-bottom: 0.5rem solid @accent_color;
        font-weight: bold;
    }
}