@import '~ui/styles/vunet_variable_theme.less';

.vunet-enrichment-table-directive {
  .kuiLocalNav {
    .kuiLocalNavRow {
      .kuiLocalNavRow__section {
        display: none;
      }
    }
  }

  .vunet-enrichment-container {
    padding: 2.7rem 7rem 0rem 7rem;

    .import-row {
      margin-bottom: 3rem;
      margin-top   : 1rem;

      .import-column {
        padding: 0rem;
      }
    }
  }

  .kuiLocalBreadcrumb {
    font-size: 1.9rem !important;
    color    : @accent_color;
  }
}


.vunet-enrichment-directive {
  .vunet-enrichment-types-container {
    padding: 2.7rem 7rem 0rem 7rem;
  }

  .kuiLocalBreadcrumb {
    font-size: 1.9rem !important;
    color    : @accent_color;
  }

  .kuiLocalBreadcrumb__link {
    font-size: 1.9rem !important;
    color    : @accent_color;
  }
}