<div >
  <div class="container zero-padding enrichment-container">
    <div class="row">
      <div class="row grey-block">
        <div class="pull-left increase-height-key-label">
          <a href="/app/vienna#/berlin/data_source/enrichment" title="Go Back" class="fa fa-arrow-circle-o-left fa-lg display-right-groupname"></a>
          <span>{{groupName}}</span>
        </div>
        <button class="btn btn-add-entry pull-right" ng-click="updateRowDataEnrichment('',groupName, groupTypeInfo)">Add Entry</button>
      </div>

      <div class="container zero-padding">
        <div class="col-md-12 col-xs-12 col-sm-12" st-table="dataEnrichment_data_display" st-safe-src="dataEnrichment_data">
          <div class="row enrichment-operational-toolbar">
            <div class="col-sm-5 col-xs-6 smart-search-container">
              <input st-search="" class="form-control smart-search" placeholder="search here" type="text"/>
            </div>
            
            <div class="col-sm-offset-3 col-sm-4 col-xs-6 row-count-select-box-container">
              <div class="row">
                <div class="col-md-offset-4 col-md-5 row-count-select-box-text"> Number of entries</div>
                <div class="col-md-2">
                  <select ng-model="paginationConfig.noOfRowsInPage" 
                          class ="row-count-select-box" 
                          ng-options="option.value as option.name for option in paginationConfig.noOfItemsByPageList" 
                          ng-change="updateObjectsByPage(paginationConfig.noOfRowsInPage)">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-if="type1">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="sortable"
                      st-sort-ascent="st-sort-ascent"
                      st-sort-descent="st-sort-descent"
                      st-sort="'{{ groupTypeInfo.key1_field.name }}'"> {{ groupTypeInfo.key1_field.name }}
                  </th>
                  <th class="sortable"
                      st-sort-ascent="st-sort-ascent"
                      st-sort-descent="st-sort-descent"
                      st-sort="'{{ groupTypeInfo.value1_field.name }}'"> {{ groupTypeInfo.value1_field.name }}
                  </th>
                  <th class="col-md-1"> Action </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-if="dataEnrichment_data_display.length == 0">
                  <td class="center" colspan="3">No data available in table</td>
                </tr>
              
                <tr ng-repeat="row in dataEnrichment_data_display">
                  <td>{{ row[groupTypeInfo.key1_field.name] }}</td>
                  <td>{{ row[groupTypeInfo.value1_field.name] }}</td>
                  <td class="col-md-1">
                    <span class="edit-row" ng-click="updateRowDataEnrichment(row, groupName, groupTypeInfo)"><a href=""><i class="fa fa-pencil-square-o" title="Edit"></i></a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="delete-row" ng-click="deleteRowDataEnrichment(row, groupName)"><i class="fa fa-trash-o" title="Delete"></i></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" ng-if="type2">
            <table class="table-enrichment no-margin-bottom">
              <thead>
                <tr>
                  <th class="col-md-3 sortable"
                      st-sort-ascent="st-sort-ascent"
                      st-sort-descent="st-sort-descent"
                      st-sort="'{{ groupTypeInfo.key1_field.name }}'"> {{ groupTypeInfo.key1_field.name }}
                  </th>
                  <th class="col-md-4 sortable"
                      st-sort-ascent="st-sort-ascent"
                      st-sort-descent="st-sort-descent"
                      st-sort="'{{ groupTypeInfo.key2_field.name}}'">{{groupTypeInfo.key2_field.name}}</th>
                  <th ng-if="!extended_type2" class="col-md-4 sortable"
                      st-sort-ascent="st-sort-ascent"
                      st-sort-descent="st-sort-descent"
                      st-sort="'{{groupTypeInfo.value2_field.name}}'">{{groupTypeInfo.value2_field.name}}</th>
                  <th ng-if="extended_type2" class="col-md-4">{{groupTypeInfo.value2_field.name}}</th>
                  <th class="col-md-1"> Action </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-if="dataEnrichment_data_display.length == 0">
                  <td class="center" colspan="4">No data available in table</td>
                </tr>

                <tr ng-repeat="row in dataEnrichment_data_display">
                  <td>{{row[groupTypeInfo.key1_field.name]}}</td>
                  <td class="set-padding no-padding">
                    <table class="table-plain no-margin-bottom">
                      <tr ng-repeat="innerrow in row[groupTypeInfo.key2_field.name+groupTypeInfo.value2_field.name]">
                        <td class="col-md-6"> {{innerrow[groupTypeInfo.key2_field.name]}} </td>
                      </tr>
                    </table>
                  </td>
                  <td ng-if="!extended_type2" class="set-padding no-padding">
                    <table class="table-plain no-margin-bottom">
                      <tr ng-repeat="innerrow in row[groupTypeInfo.key2_field.name+groupTypeInfo.value2_field.name]">
                        <td class="col-md-6"> {{innerrow[groupTypeInfo.value2_field.name]}} </td>
                      </tr>
                      </table>
                  </td>
                  <td ng-if="extended_type2" class="set-padding no-padding">
                    <table class="table-plain no-margin-bottom">
                      <tr ng-repeat="innerrow in row[groupTypeInfo.key2_field.name+groupTypeInfo.value2_field.name]">
                        <td class="col-md-6" ng-repeat="inner_key in value2Fields">
                            <b>{{inner_key}}</b> {{innerrow[groupTypeInfo.value2_field.name][inner_key]}}
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td class="col-md-1">
                    <span class="edit-row" ng-click="updateRowDataEnrichment(row, groupName, groupTypeInfo)"><a href=""><i class="fa fa-pencil-square-o" title="Edit"></i></a>
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="delete-row" ng-click="deleteRowDataEnrichment(row, groupName, groupTypeInfo)"><i class="fa fa-trash-o" title="Delete"></i></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row" ng-if="type3">
            <table class="table table-type3">
              <thead>
                <tr>
                  <th class="sortable"
                      st-sort-ascent="st-sort-ascent"
                      st-sort-descent="st-sort-descent"
                      st-sort="'{{ groupTypeInfo.key1_field.name }}'"> {{ groupTypeInfo.key1_field.name }}
                  </th>
                  <th ng-repeat="key  in value1Fields"
                      class="sortable"
                      st-sort-ascent="st-sort-ascent"
                      st-sort-descent="st-sort-descent"
                      st-sort="'{{ key }}'"> {{key}}
                  </th>
                  <th class="col-md-1"> Action </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-if="dataEnrichment_data_display.length == 0">
                  <td class="center" colspan="{{value1Fields.length + 2}}">No data available in table</td>
                </tr>
                <tr ng-repeat="row in dataEnrichment_data_display">
                  <td>{{ row[groupTypeInfo.key1_field.name] }}</td>
                  <td ng-repeat="key in value1Fields">
                  	{{row[groupTypeInfo.value1_field.name][key]}}
                  </td>
                  <td class="col-md-1">
                    <span class="edit-row" ng-click="updateRowDataEnrichment(row, groupName, groupTypeInfo)"><a href=""><i class="fa fa-pencil-square-o" title="Edit"></i></a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="delete-row" ng-click="deleteRowDataEnrichment(row, groupName, groupTypeInfo)"><i class="fa fa-trash-o" title="Delete"></i></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="pagination-container" 
                st-template="/ui/vienna_data/pagination.html" 
                st-pagination="" 
                st-page-change="resetAllSelection()" 
                st-items-by-page="paginationConfig.itemsByPage">
          </div>
        </div>
      </div>
    </div>
  </div>
  <vunet-modal show-modal="showDeleteEnrichmentModal" on-close="onDeleteEnrichmentModalClose" data="deleteEnrichmentModalData" on-submit="ondeleteEnrichmentSubmit">
  </vunet-modal>
</div> 
