<form
  role="form"
  ng-submit="opts.save()"
>
  <h2 class="kuiLocalDropdownTitle">
    Save {{opts.displayName}}
  </h2>

  <div class="kuiLocalDropdownSection">
    <div class="kuiLocalDropdownHeader">
      <label
        class="kuiLocalDropdownHeader__label"
        for="saveDashboardTitle"
      >
        Title
        <kbn-tooltip
          text="Title should not be more than 64 characters"
          placement="right"
          append-to-body="1">
          <span>
            <i
              class="fa fa-question-circle"
              aria-hidden="true">
            </i>
          </span>
        </kbn-tooltip>
      </label>
    </div>


    <input
      id="saveDashboardTitle"
      class="kuiLocalDropdownInput"
      data-test-subj="dashboardTitle"
      maxlength="64"
      type="text"
      ng-model="model.title"
      placeholder="Dashboard title"
      input-focus="select"
    >
  </div>

  <div class="kuiLocalDropdownSection">
    <div class="kuiLocalDropdownHeader">
      <label
        class="kuiLocalDropdownHeader__label"
        for="saveDashboardDescription"
      >
        Description
        <kbn-tooltip
          text="Description should not be more than 100 characters"
          placement="right"
          append-to-body="1">
          <span>
            <i
              class="fa fa-question-circle"
              aria-hidden="true">
            </i>
          </span>
        </kbn-tooltip>
      </label>
    </div>

    <input
      id="saveDashboardDescription"
      class="kuiLocalDropdownInput"
      data-test-subj="dashboardDescription"
      type="text"
      ng-model="model.description"
      maxlength="100"
      placeholder="Dashboard description"
    >
  </div>

  <saved-object-save-as-check-box
    class="kuiVerticalRhythmSmall"
    saved-object="opts.dashboard"
  ></saved-object-save-as-check-box>

  <div class="kuiVerticalRhythm">
    <label class="kuiCheckBoxLabel kuiVerticalRhythmSmall">
      <input
        class="kuiCheckBox"
        type="checkbox"
        ng-model="model.timeRestore"
        ng-checked="model.timeRestore"
        data-test-subj="storeTimeWithDashboard"
      >

      <span class="kuiCheckBoxLabel__text">
        Store time with {{opts.displayName}}
      </span>
    </label>

    <div class="kuiLocalDropdownFormNote kuiVerticalRhythmSmall">
      This changes the time filter to the currently selected time each time this dashboard is loaded.
    </div>
  </div>


  <rbac-user-role
    allowed-roles="opts.allowedRoles"
    owner="opts.owner">
  </rbac-user-role>


  <div>
    <div class="form-group">
      <p>Category</p>
      <div class="row">
        <div class="col-md-6">
          <select
            class="form-control"
            required
            ng-model="opts.category"
            ng-options="item.title for item in opts.categories"
          >
            {{category.title}}
          </select>
        </div>
      </div>
    </div>
  </div>
  <button
    data-test-subj="confirmSaveDashboardButton"
    type="submit"
    ng-disabled="!(model.title && opts.category.title)"
    class="kuiButton kuiButton--primary kuiVerticalRhythm"
    aria-label="Save dashboard"
  >
    Save
  </button>
</form>
