@import '~ui/styles/vunet_variable_theme.less';

.import-modal-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    .import-modal {
        line-height: 1.5;
        width: 45%;
        background-color: #FFF;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        z-index: 1001;
        font-family: @inter-regular;
        animation: kuiModal 350ms cubic-bezier(0.34, 1.61, 0.7, 1);
        border-radius: 1rem;
        box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.06);
        min-width: ;
        .import-modal-content {
            .header {
                font-family: @inter-medium;
                color: @vublock-import-popup-header-text-color;
                font-size: 2.2rem;
                text-align: start;
                margin: 3rem 3rem 0 3rem;
            }
            .tip {
                color: @vublock-import-popup-tip-color;
                background-color: @vublock-import-popup-tip-bg;
                text-align: left;
                font-size: 1.8rem;
                font-family: @inter-regular;
                margin: 2rem 3rem;
                padding: 1.5rem;
                border-radius: 0.8rem;
                .tip-title {
                    font-family: @inter-medium;
                    font-size: 2rem;
                    display: block;
                    margin-bottom: 0.5rem;
                    i {
                        color: @vublock-import-popup-tip-color;
                        margin-right: 0.5rem;
                    }
                }
                .modal-link {
                    font-family: @inter-medium;
                    text-decoration: underline;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
            .error {
                color: @vublock-import-popup-error-color;
                background-color: @vublock-import-popup-error-bg;
                text-align: left;
                font-size: 1.8rem;
                font-family: @inter-regular;
                margin: 2rem 3rem;
                padding: 1.5rem;
                border-radius: 0.8rem;
                .error-title {
                    font-family: @inter-medium;
                    font-size: 2rem;
                    display: block;
                    margin-bottom: 0.5rem;
                    i {
                        color: @vublock-import-popup-error-color;
                        margin-right: 0.5rem;
                    }
                }
                .modal-link {
                    font-family: @inter-medium;
                    text-decoration: underline;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
            input {
                width: 70%;
                font-family: @inter-regular;
                margin: 1rem 3rem;
                font-size: 1.8rem;
                &:focus {
                    border: none;
                }
            }
        }
        .footer {
            display: flex;
            margin: 0 3rem 3rem 3rem;
            justify-content: end;
            border-top: 1px solid @vublock-import-popup-divider-color;
            padding-top: 1rem;
            button {
                margin-left: 1.5rem;
                font-size: 1.6rem;
            }
            .btn-positive {
                background-color: @vublock-import-popup-positive-button-bg;
                color: @vublock-import-popup-button-dark-color;
                &:hover {
                    border: 1px solid @vublock-import-popup-positive-button-bg;
                }
            }
            .btn-negative {
                background-color: transparent;
                color: @vublock-import-popup-header-text-color;
                border: 1px solid @vublock-import-popup-header-text-color;
                &:hover {
                    background-color: @vublock-import-popup-header-text-color;
                    color: @vublock-import-popup-button-dark-color;
                }
            }
        }
        }
}