@import "~ui/styles/vunet_variable_theme.less";

.devices{
    margin: 2rem 3rem;
    padding: 1rem 0rem;

    h4{
        font-weight: 600;
    }

    .search-input{
        border: 1px solid @grey_smoke;
        border-radius: @box-border-radius;
        padding: @input-padding;
    }

    .tool-bar{
        display: flex;
        margin: 2rem 0rem;

        .toolbar-button{
            margin-left: 1.5rem;
            border: none;
        }
    }

    .pagination{
        padding-right: 0;
    }
}

.table-container{
    display: flex;
    margin: 2rem 0rem;
    
    .tbl{
        background-color: @white;
        
        i{
            padding: 1rem;
            cursor: pointer;
        }

        #details{
            padding-left: 0rem;
        }
    
        th{
            padding: 1rem;
            text-align: left;
            vertical-align: middle;
            background-color: @tbl-header-bg;
            border-bottom: 1px solid @tbl-border;
        }
    
        tr{
            td{
                text-align: left;
                vertical-align: middle;
                border-bottom: 1px solid @tbl-border;
            }
        }

        .multi-check, .single-check{
            margin-left: 2rem;
        }
    }
    
}