.event-container {
  padding: 1.2%;

  .pagination {
    float        : right;
    margin       : 8px 0px;
    padding-right: 8px;

    li a {
      cursor    : pointer !important;
      border    : 1px solid #efefef;
      color     : #2e3458;
      background: #fff;

      &:hover,
      &:focus,
      &:active {
        background: #fff;
      }
    }

    li.active a,
    li a:hover,
    li a:focus {
      color     : #fff !important;
      background: #2e3458 !important;
    }
  }

  .no-events-wrapper {
    margin-left: 2rem;
  }
}