@import (reference) "~ui/styles/variables";
@import (reference) "~ui/styles/mixins";

// variables that hold severity color code
@information : #058514;
@warning : #ffc800;
@error : #F56F00;
@critical : #F70302;
@total: #1aa1f0;
@widget-border: #e8e8e8;

/* css for event indicator dashboards */
.top-widget {
  margin-right: 0px;
  margin-left: 0px;
 .col-md-5, .col-md-7 {
    padding:0px;
  }
}

.alerts-info-bg {
  background: #e7ebee;
  height: 100%;
}

.event-container {
  background: #e7ebee;
  padding:10px;
  height: 100%;
  p {
    margin-bottom: 0px;
  }
  .col-md-6 {
  padding: 0px;
  }
  .col-md-4 {
    padding: 0px;
  }
  .col-md-2 {
    padding: 0px;
  }
  .row {
    margin: 0px;
  }
  min-height: 86vh;
}

.global-count-header {
  margin-bottom: 8px;
  color: #D8034D;
  letter-spacing: 1px;
}

.global-count-container {
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  border-collapse:separate;
  border-spacing:3px 0px;
  margin-bottom: 5px;
  border: 1px solid #CCCCCD;
}

.severity-container {
  border-spacing:8px 0px !important;
  .circle-wrapper {
    &:hover {
      cursor: pointer;
    }
  }
}

.severity-widget-container {
  margin-top: 5px;
}

/* css for alert lists */
.event-list-container {
  background: #e7ebee;
  padding:0px;
  .events-table-wrapper {
    height: 330px;
    padding-right: 14px;
    overflow-y: scroll;
  }
  table {
    width: 100%;
  }
}

 .events-table-wrapper::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }

.event-search-wrapper {
  padding: 0px 14px 0px 0px;
  margin-bottom: 3px;
  .smart-search {
    border: 1px solid #f8f8f8;
    border-radius: 0px
  }
}

.event-item {
  margin: 2px 0px;
  background: #fff;
  padding:5px 7px;
  cursor: pointer;
  .event-history-header {
    margin-top: 6px;
    color: #D8034D;
  }
  .event-name {
    border-bottom: 1px solid #E2DFE0;
    margin: 2px 0px;
  }
  .event-list-icon {
    font-size: 16px;
    color:#2E3458;
  }
  .event-list-header {
    font-size: 16px;
    color:#2E3458;
    padding-left: 4px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .event-summary {
    font-size: 13px;
    color: #656565;
    padding: 0px 5px 0px 0px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .risk-score-container {
    margin-top: 3px;
    padding:0px;
    font-size: 0px;
    padding-left: 18px;
    .risk-score-header {
      background-color: #4A4A4A;
      color: #fff;
      font-size: 12px;
      padding: 3px 10px;
    }
    .risk-score {
      background-color: #E84C3D;
      color: #fff;
      font-size: 12px;
      padding: 3px 7px;
    }
  }
  .fa-warning {
    color: @warning;
  }
  .fa-exclamation-circle {
    color: @error;
  }
  .fa-minus-circle {
    color: @critical;
  }
  .information {
    color: @information;
  }
  .event-list-time {
    float: right;
    color:#2E3458;
    font-size: 12px;
    margin-top: 3px;
  }
  .event-list-global-count {
    margin-bottom: 4px !important;
    .event-count-container {
      margin-right: 1px;
      .event-count {
        font-weight: bold;
      }
      .event-count-unit {
        font-size: 10px;
      }
    }
    p {
      font-size: 9px;
      border-top:1px solid #94CBE5;
      background: #4a4a4a;
      padding:3px 0px;
      margin-top: 2px;
    } 
    div {
      font-size: 14px ;
      padding-top:2px;
      display: inline-block;
      width: 83px;
      background: #42B6E7;
      color: #fff;
      text-align: center;
    }
  }

 .event-view-button {
    font-size: 12px;
    padding-left: 4px;
  }
  .triangle {
    position: absolute;
    top: 43%;
    right: -14px;
    img {
      height: 25px !important;
    }
  }
}

.al-active {
  border: 1px solid #9E9E9E;
  position: relative;
  background: #e7ebee;
  .event-name {
    border-bottom: 1px solid #b9b7b7;
    margin: 2px 0px;
  }
  .event-summary {
    color: #000;
  }
}

/* alert content blocks */

.alert-content-block-container {
  height: 100%;
  padding: 0px 4px;
  border: 1px solid #d6d4d4;;
  background: #f7f7f7;
  min-height: 500px;
}

.alert-content-block-container  {
  .col-md-6 {
    padding: 0px 0px;
  }

  .left-section {
    padding-right: 7px !important;
  }
}

.alert-content-block-wrapper {
  background: #fff;
  font-size: 13px;
  margin: 7px 0px !important;
  border: 1px solid #cccccd;
}

.alert-content-block {
  padding:8px 15px;
}

.alert-content-block-header {
  padding:3px 15px;
  font-size: 14px;
  border-bottom: 1px solid #d8d8d8;
  color: #000;
  background: #C4D3DC;
}

.sub-header {
  background: #e6e6e6;
}

.custom-table {
  thead {
    font-weight: bold;
    background: #f3f3f3;
  }
  tr {
    td {
      padding: 4px 15px !important;
      font-size: 12px;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}

.alert-quick-links {
  background: #fff !important;
  border: 1px solid #ece7e7;
  color: #2E3458;
  margin: 5px 4px!important;
  letter-spacing: 0.2px;
  padding: 7px 15px;
  .col-md-4 {
    padding: 0px;
  }

  .event-details-header {
    font-size: 15px;
  }

  .story-board-link {
    font-size: 12px;
    float: right;
    background: #fff;
    border: 1px solid #2E3458;
    color: #2E3458 !important;
    padding: 2px 10px;
    border-radius: 13px;
    text-decoration: none;
    &:hover,
    &:focus {
      background: #2E3458;
      color: #fff !important;
      border: 1px solid #fff;
    }
  }
}

.pagination {
  float: right;
  margin: 8px 0px;
  padding-right: 8px;
  li a {
         cursor: pointer !important;
         border: 1px solid #efefef;
         color: #2E3458;
         background: #fff;
         &:hover,
         &:focus,
         &:active {
          background: #fff;
         }
      }
  li.active a, 
  li a:hover, 
  li a:focus {
      color: #fff !important;
      background: #2E3458 !important;
    }
}

.detailed-alert-info {
  .col-md-6 {
    padding: 0px 3px;
  }
}

.sample-size-message {
  margin: 7px 15px 5px 0px !important;
  border: 1px solid #b6d7ef;
  padding: 5px 10px;
  background: #D7EBF9;
  text-align: center;
  color: #073150;
}

.severity-circle-wrapper {
  border: 1px solid #c5c5c5;
  box-shadow: 1px 1px 0px #d0d0d0;
  background-color: #fff;
  display: table-cell;
  border-radius: 5px;

  .severity-header {
    text-align: center;
    font-size: 12px;
    color: #fff;
  }

  .severity-circle-inner-wrapper {
    padding: 10px;

    .severity-circle-text {
      background: #F0681A;
      color: #fff;
      border: 4px solid #F0681A;
      display: table-cell;
      height: 95px;
      width:95px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      font: 33px "josefin sans", arial; 
    }

  }
  .severity-sub-widget {
    border-top: 1px solid #e8e8e8;
    text-align:center;
    padding-top: 8px;
    padding: 8px 4px;
    .sub-widget-count {
      font-size: 14px;
      color: #424040;
    }
    .sub-widget-text {
      font-size: 11px;
      color: #616060;
    }
  }
}

.critical-meter {
  .severity-sub-widget {
    color: @critical
  }

  .severity-circle-text {
    background: @critical !important;
    border: 4px solid @critical !important; 
  }
}

.error-meter {
  .severity-sub-widget {
    color: @error
  }

  .severity-circle-text {
    background: @error !important;
    border: 4px solid @error !important; 
  }
}

.information-meter {
  .severity-sub-widget {
    color: @information
  }

  .severity-circle-text {
    background: @information !important;
    border: 4px solid @information !important; 
  }
}

.warning-meter {
  .severity-sub-widget {
    color: @warning
  }

  .severity-circle-text {
    background: @warning !important;
    border: 4px solid @warning !important; 
  }
}

.total-meter {
  .severity-sub-widget {
    color: @total
  }

  .severity-circle-text {
    background: @total !important;
    border: 4px solid @total !important; 
  }
  cursor: default;
}

.comment-container {
  padding: 10px 0px;
  background: #fff;
  margin: 5px 0px !important;

  .comment-section-header {
    font-size: 16px;
    margin: 12px 25px !important;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
  }

  .comment-item {
    margin-left: 25px !important;
    margin-right: 25px !important;
    margin-top: 8px !important;
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
  }

  .comment-text-section {
    padding-left: 10px;
    padding-bottom: 8px;
    textarea {
      resize: none;
      border-color: #bdbdbd;
      padding: 2px 4px !important;
    }
    .commentor-name {
      font-size: 15px;
      font-weight: bold;
      color: #292F4F;
    }
    .comment-text {
      color: #616161;
      font-size: 14px;
      word-wrap: break-word;
      word-break: break-all;
      white-space: pre-wrap;
    }
    .comment-time {
      font-weight: normal;
      margin-left: 13px;
      color: #616161;
      font-size: 13px;
    }
  }

  .comment-button {
    background: #D8034D;
    border: 1px solid #D8034D;
    padding: 3px 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 2px;
    margin-top: 3px;
  }
}