@import '~ui/styles/vunet_variable_theme.less';

.vunetTabButtons{
  font-family:@roboto-medium!important;
  border : 0px!important;
  color : @accent_color!important;
  background-color: @action_bar_background!important;
  font-size:1.6rem!important;
  &:focus {
    box-shadow:none!important;
  }
}

.vunetTabButtons.kuiTab-isSelected {
  border-bottom: .4rem solid @accent_color!important;
  color:@accent_color!important;
  background-color: @action_bar_background!important;
}