@import '~ui/styles/vunet_variable_theme.less';

.modal-form-content {
    padding: 2rem;

    .download-modal-header {
        font-size: 1.7rem;
        font-family: 'Inter-Medium';
        color: @accent_color;
    }
    form {
        .fieldset {
            margin: 1.5rem 0;
        }
        .modal-footer-buttons {
            display: flex;
            justify-content: end;
            button {
                margin: 0 1rem;
            }
        }
    }
}