@import '~ui/styles/vunet_variable_theme.less';

.app-container{
	.event-details{
		.muliti-selection{
			.dashboard-lable{
				width: 20%;
				margin: 0rem 0rem 0.9rem 2.7rem;
			    font-size: 1.8rem;
			    font-family: @inter-medium;
			}
			.dashboards-multi-selection{
				width: 85%;
				margin: 0rem 0rem 0.9rem 2.7rem;
				border-radius: 2.5rem;
			}
			.roles-lable{
				width: 20%;
				margin: 0rem 2.7rem 0.9rem 2.7rem;
			    font-size: 1.8rem;
			    font-family: @inter-medium;
			}
			.roles-multi-selection{
				width: 85%;
				margin: 0rem 0rem 0.9rem 2.7rem;
				border-radius: 1rem !important;
			}
		}
		.permissions-selection{
			.select-permission{
				margin: 0rem 0rem 0.9rem 2.7rem;
			    font-size: 1.8rem;
			    font-family: @inter-medium;
			}
			.permissions{
				margin: 0rem 0rem 0.9rem 2.7rem;
			    font-size: 1.8rem;
			    font-family: @inter-medium;
			}
			.permission-name{
				margin-left: 2.5rem;
			}
		}
		.manage-permissions-button{
			margin-left: 75%;
			font-size: 1.8rem;
		    font-family: @inter-medium;
		}
	}
	.manage-permissions-warning{
		margin: 3.3rem;
	}
}