<div ng-controller="KbnTableVisController" class="table-vis">
  <div ng-if="!hasSomeRows && hasSomeRows !== null" class="table-vis-error">
    <no-data-message
      enable-custom-error-message="vis.params.enableCustomErrorMessage"
      error-message="vis.params.customErrorMessage"
      enable-custom-error-tooltip="vis.params.enableCustomErrorTooltip"
      custom-error-tooltip="vis.params.customErrorTooltip"
    ></no-data-message>
  </div>

  <div ng-if="tableGroups" class="table-vis-container">
    <kbn-agg-table-group
      group="tableGroups"
      export-title="vis.title"
      print-report="printReport"
      per-page="vis.params.perPage"
      hide-export-options="vis.params.hideExportOptions"
      show-word-wrap="vis.params.showWordWrap"
      sort="sort"
      show-total="vis.params.showTotal"
      total-func="vis.params.totalFunc"
      color-schema="vis.params.colorCodeValues ? vis.params.colorSchema : null"
      link-info="vis.params.linkInfo"
      add-sr-number="vis.params.addSrNumber"
      cumulative-row-operation="vis.params.showCumulativeRow ? vis.params.cumulativeRowOperation : null"
      cumulative-column-operation="null"
      sr-number-title="vis.params.srNumberTitle"
      use-table-grids="vis.params.useTableGrids"
      cell-font-size="vis.params.cellFontSize"
      show-progress-bar="vis.params.showProgressBar"
      >
    </kbn-agg-table-group>
  </div>
</div>
