.vis-metrics-in-percentage {
    padding-left: 10px;
    font-size: 14px;
 }
 .table-color-range-error {
   color: red;
   font-size: 12px;
   padding-left: 20px;
 }

.table-left-sidebar .checkbox label {
  padding-left: 0px;
}

.vienna-table-cell-image-size {
  width: 12px;
}
.progressbar-percentagevalue {
  position: absolute;
}
