@import '~ui/styles/vunet_variable_theme.less';

.back-button-section {
    padding: 2rem 0 0 3rem;
}

.kuiLocalTitle {
    font-family     : 'Inter-Medium';
    font-weight     : normal;
    color           : @network-asset-title-color;
    font-size: 1.9rem;
    .kuiLocalBreadcrumb, .kuiLocalBreadcrumb__link {
        font-family     : 'Inter-Medium';
        font-weight     : normal;
        color           : @network-asset-title-color;
        font-size: 1.9rem;
    }
}