.vunet-preference-directive{
  .vunet-preferences-container{
    padding:2.7rem 7rem 0rem 7rem; 
    .table-right-padding{
      padding-right:3rem;
    }
    .vunet-table{
      min-height: 31rem;
    }
  }
  .kuiLocalNav{
    .kuiLocalNavRow{
      .kuiLocalNavRow__section{
        display:none;
      }
    }
  }
}