// Primary
$buttonPrimaryBackgroundColor: $kuiPrimaryButtonColor;
$buttonPrimaryHoverBackgroundColor: darken($kuiPrimaryButtonColor, 10%);
$buttonPrimaryDisabledBackgroundColor: desaturate($kuiPrimaryButtonColor, 70%);