.alert-rules-wrapper {
    .vunet-table {
        .kuiControlledTable {
            box-shadow: none;
            button[aria-label="Publish"] {
                display: none;
            }
        }
    }
    input[type="file"] {
        border: none !important;
        margin-top: 1rem !important;
    }
}