@import '~ui/styles/vunet_variable_theme.less';

.license-modal-header{
  color:@accent_color;
  text-align: center;
  font-family: @inter-medium;
  font-size:2.5rem;
  padding:0rem 0rem 0.5rem 0rem;
}

.uploadLicenceForm{
  padding: 3rem 2rem 2rem 2rem;
  border-top: .1rem solid @box_shadow_color;
}

.upload-license-success{
  padding:4rem;
  font-size:2.5rem;
  font-family:@inter-medium;
  text-align: center;
  color:@green;
}