<div ng-if='!successfulUpload'>
  <p class="license-modal-header">Upload License</p>
  <form name="uploadLicenceForm" class="uploadLicenceForm">
    <input class="btn vunet-btn-file-import" type="file" ngf-select="onSelect($file)" ng-model="File" name="file" ngf-multiple="false"
    required>
    <div class="error-block" ng-show="fileUploadError">
      {{fileUploadErrorMessage}}
    </div>
    <div class='row'>
      <div class='col-sm-offset-7 col-sm-2'>
        <button class="btn btn-vunet-cancel" ng-click="closeModal()">Cancel</button>
      </div>
      <div class='col-sm-2'>
        <button type="submit" class="btn btn-vunet-submit" ng-disabled="!uploadLicenceForm.$valid || fileUploadError" ng-click="upload(File)">Submit</button>
      </div>
    </div>
  </form>
</div>
