<div ng-if='!successfulUpload'>
  <p class="license-modal-header">Upload License</p>
  <form name="uploadLicenceForm" class="uploadLicenceForm">
    <input class="btn vunet-btn-file-import" type="file" ngf-select ng-model="File" name="file" ngf-multiple="false"
      required>
    <div class='row'>
      <div class='col-sm-offset-7 col-sm-2'>
        <button class="btn btn-vunet-cancel" ng-click="closeModal()">Cancel</button>
      </div>
      <div class='col-sm-2'>
        <button type="submit" class="btn btn-vunet-submit" ng-disabled="!uploadLicenceForm.$valid" ng-click="upload(File)">Submit</button>
      </div>
    </div>
  </form>
</div>

<div class="upload-license-success" ng-if="successfulUpload">
  <i class="fa fa-check"></i>
  File successfully submitted.
</div>