<event-app class="event app-container">
  <kbn-top-nav name="event" config="topNavMenu">
    <!-- Transcluded elements. -->
    <div data-transclude-slots>
      <!-- Title. -->
      <div
        data-transclude-slot="topLeftCorner"
        class="kuiLocalTitle"
        role="heading"
        aria-level="1"
      >
        Events of Interest
      </div>
    </div>
  </kbn-top-nav>

  <loader-animation
    ng-if="loadingEvents && (!listOfEvents.List_of_events.length)"
  ></loader-animation>
  <div
    ng-if="listOfEvents.List_of_events.length"
    class="app-container event-container"
  >
    <filter-bar state="state"></filter-bar>
    <event-console
      style="height: 100%"
      severity-info="severityInfo"
      list-of-events="listOfEvents"
      update-event="updateEvent"
      column-selector-info="columnSelectorInfo"
      update-column-selector="updateColumnSelector"
    >
    </event-console>
  </div>
  <div class="no-events-wrapper" ng-if="!loadingEvents && !listOfEvents.List_of_events.length">
    <h3>No Events to Display</h3>
  </div>
</event-app>
