@import "~ui/styles/vunet_variable_theme.less";

.event-console-wrapper {
  position: relative;
  height  : 100%;

  #column-selector-id {
    display: none;
  }

  #filter-selector-id {
    display: none;
  }

  button {
    box-shadow: none;
  }
}

.event-console-button {
  background    : @event-console-button-background;
  color         : @white;
  border        : 0;
  padding-left  : 25px;
  padding-right : 25px;
  padding-top   : 7px;
  padding-bottom: 7px;
  border-radius : 20px;
}