@import '~ui/styles/vunet_variable_theme.less';

.user-tabs-wrapper {
  padding: 1.25rem 0rem 0rem 6.5rem;
  background: @action_bar_background;
}

.user-container{
  background-color: @view_background;
  padding:2.7rem 7rem 0rem 7rem;
  // position: fixed;
  // width: 88%;
  // height:100%;
}
.user-container{
  .manage-user-container{
    .wrap-table-cell-contents {
      .kuiControlledTable {
        .kuiTable {
          tbody {
            .kuiTableRow {
              .kuiTableRowCell:nth-child(4) {
                .kuiTableRowCell__liner {
                  overflow: hidden;
                  word-spacing: 99999px;   
                  text-overflow: ellipsis;
                  word-break:unset
                }
              }
            }
          }
        }
      }
    }
  }
}

.user-container{
  .manage-user-role-container{
    .wrap-table-cell-contents {
      .kuiControlledTable {
        .kuiTable {
          tbody {
            .kuiTableRow {
              .kuiTableRowCell:nth-child(3) {
                .kuiTableRowCell__liner {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  word-break:unset;
                  word-spacing: 99999px;
                }
              }
            }
          }
        }
      }
    }
  }
}
