@import '~ui/styles/vunet_variable_theme.less';

.definitions-tabs-wrapper {
  padding: 1.25rem 0rem 0rem 6.5rem;
  background: @action_bar_background;
}

.vunet-emailgroups-directive{
  .export-row{
    margin-bottom:3rem;
    margin-top:1rem;
    .export-column{
      margin-left: 93.5%;
      padding:0rem;
    }
  }
}