
@import (reference) "~ui/styles/mixins";
@import (reference) "~ui/styles/variables";

body { overflow-x: hidden; }

.app-wrapper-normal {
  position: absolute;
}

.app-wrapper-report {
  position: relative;
  width:100%;
}

.app-wrapper {
  background-color:  #f6f7fb;
  .real-flex-parent();
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // this has been used due to z-index issue of sidebar
  // z-index: 1;
  margin: 0 auto;
  background-color: #fff;
  // this is done so that scoll-bar only comes in view section
  overflow:hidden;
  /**
   * 1. Dirty, but we need to override the .is-global-nav-open state
   *    when we're looking at the log-in screen.
   */
  &.hidden-chrome {
    left: 0 !important; /* 1 */
  }

  .navbar-right {
    margin-right: 0;
  }
}

  .app-wrapper-panel {
    .flex-parent(@shrink: 0);
  }

#ngViewAppDiv{
  margin-left: 50px !important;
}
