<div class="topbar-container">
  <div ng-show="!$root.printReport" class="vunetLocalNav1">
    <div class="kuiLocalNavRowVunet">
      <div class="row">
        <div class="col-sm-3 flex-container">
          <div class="button-menu-mobile open-left waves-effect padding-top-for-collapse">
            <i class="icon-Menu-Collapse" ng-click="$root.openLeftBar()"></i>
            <!-- <i class="icon-vuNet_Logo_Final-06"></i> -->
            <!-- <span class="icon-Logo-Image-Color"></span> -->
          </div>
          <div
            ng-if="customerLogoImgPath.length"
            class="customer-logo-wrapper">
            <div
              class="customer-logo"
              ng-style="{'background-image':'url({{customerLogoImgPath}})'}">
            </div>
          </div>
        </div>
        <div class="col-sm-5 vunet-notifications" ng-class="{'vunet-notifications-borders':$root.notifList.length>0}">
          <kbn-notifications list=$root.notifList></kbn-notifications>
          <!-- <i class="icon-vuNet_Logo_Final-06"></i> -->
        </div>
        <div class="col-sm-4 vunet-topbar-actions">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="icon-fullscreen-container">
                <i class="fa icon-maximize" ng-click='toggleFullscreen()' uib-tooltip="View Fullscreen"></i>
              </div>
            </li>
            <li ng-if = "canViewObject" id="notification-icon" class="uib-dropdown alert-notification" uib-dropdown is-open="dropdownIsOpen"
              on-toggle="handleDropdownclose()">
              <div class='uib-dropdown-toggle' data-toggle="dropdown" ng-click='showNotificationDropdown()'
                uib-dropdown-toggle>
                <i class="icon-Notification" uib-tooltip="Notifications">
                </i>
                <div ng-show="notificationLength" ng-click='return'>
                  <div class="notificationlength">{{ notificationLength }}</div>
                </div>
              </div>
              <ul class="dropdown-menu-right uib-dropdown-menu" uib-dropdown-menu>
                <div ng-if="!notificationlength" class="no-notifications">
                  No notifications to display.
                </div>
              </ul>
              <ul class="dropdown-menu-right uib-dropdown-menu" uib-dropdown-menu>
                <div ng-if="data.length > 0" ng-repeat="(header, data) in notificationResponse" class="notification-section">
                  <div class="notification-header">
                    <span>
                      <i
                        class="notification-heading-icon"
                        ng-class="{'icon-Notification_type': header=='Notifications',
                                   'icon-Storage_notification_type': header=='Backup and Storage'}"
                      >
                      </i>
                    </span> 
                    <span class="notification-heading-text"> {{header}} </span>
                    <i class='fa fa-times close-dropdown' ng-click="closeNotificationDropdown()" uib-tooltip="Close"></i>
                  </div>
                  <div ng-repeat="notification in data track by $index">
                    <div
                      class="notification-content"
                      ng-class="{'new-notification': $index < newNotificationLength,
                                 'disable-click': notification.category==='backup_and_storage'}"
                      ng-click="viewNotificationDetails(notification.summary)">
                      <div class="notification-subject alert-wrapper row">
                        <span class="col-sm-1 notification-type-icon">
                          <i class="fa"
                            aria-hidden="true"
                            ng-class="{'icon-backup-notifications-error': notification.type=='backup_failure',
                                       'icon-backup-notifications-disabled': notification.type=='backup_disabled',
                                       'icon-backup-notifications-started-whitebg': notification.type==='backup_start',
                                       'icon-backup-notifications-success': notification.type==='backup_success',
                                       'fa-warning': notification.type=='warning',
                                       'fa-exclamation-circle': notification.type=='error',
                                       'fa-info-circle': notification.type=='information',
                                       'fa-minus-circle': notification.type=='critical',
                                       'fa-archive': notification.type=='archive_success' || notification.type=='archive_failure',
                                       'fa-undo': notification.type=='restore_success' || notification.type=='restore_failure'}">
                          </i>
                        </span>
                        <span class="col-sm-9 notification-name" >{{notification.name}}</span>
                        <span uib-tooltip="Notification is of {{notification.category}} type" class="pull-right notification-category-icon-container col-sm-2">
                            <i class="notification-category-icon" 
                               ng-class="{'icon-Notification_Alert_Result': notification.category=='Alert',
                                           'icon-Storage_Notification_Result': notification.category==='backup_and_storage',
                                           'icon-Notification_Alert_Script_Result': notification.category=='Script'}"
                              aria-hidden="true">
                            </i>
                          </span>
                      </div>
                      <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8 notification-desc">
                          {{notification.summary}}
                        </div>
                        <div class="col-sm-3 notification-time">
                          {{ notification.timestamp | amUtc | amTimeAgo }}
                        </div>
                      </div>

                    </div>
                  </div>
                  <div
                    ng-if="header!=='Backup and Storage'"
                    class="view-notifications"
                    ng-click="viewNotificationDetails('')">
                    <p class="view-all-notifications"> View All Notifications</p>
                  </div>
                  <!-- This is needed when we fix redirection to alert dashboards
                                 commenting this section till then -->
                  <!-- <div class="see-all-wrapper">
                              <a class="see-all" href="">See all</a>
                            </div> -->
                </div>
              </ul>
            </li>
            <li ng-if="canManageDiagnostic">
              <button class="diagnostic-button" ng-disabled="diagnostic_display_on" href='' aria-expanded='false'
                ng-click='run_diagnostic()'>
                <i class='icon-Diagnostics bg-color' uib-tooltip="Run Diagnostics"></i>
              </button>
            </li>
            <li class="uib-dropdown help-container" uib-dropdown>
              <div class='uib-dropdown-toggle help-icon' data-toggle="dropdown" uib-dropdown-toggle>
                <i class="icon-help-white help-icon-size" uib-tooltip="Help"></i>
              </div>
              <ul class="dropdown-menu-right uib-dropdown-menu" uib-dropdown-menu ng-click="$event.stopPropagation()">
                <div class="help-dropdown-content">
                  <div class="row help-dropdown-content-header">
                    Hello, What can we do for you?
                  </div>
                  <div class="row help-dropdown-content-text">
                    Search our help center
                  </div>
                  <div class="row search-container">
                    <form name="queryBarForm" ng-submit="helpSearch(search)">
                      <div class="flex-container">
                        <input type="text" ng-model="search" class="search-text kuiToolBarSearchBox_input" placeholder="Search..."
                          area-lable="Filter" />
                      </div>
                    </form>
                  </div>
                  <div class="helpdropdown-links-container">
                    <span>
                      Recommended Links
                    </span>
                    <div class="help-links-container">
                      <div class="row">
                        <div class="col-md-6 help-link-icon">
                          <a href="/vuDoc/data_source/index.html" target="_blank">
                            <div>
                              <img src="/ui/vienna_images/data_source.svg" height="42" width="42" />
                            </div>Data Sources
                          </a>
                        </div>
                        <div class="col-md-6 help-link-icon">
                          <a href="/vuDoc/user_guide/index.html" target="_blank">
                            <div>
                              <img src="/ui/vienna_images/faq.svg" height="42" width="42" />
                            </div>User Guide
                          </a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 help-link-icon">
                          <a href="/vuDoc/faqs/index.html" target="_blank">
                            <div>
                              <img src="/ui/vienna_images/user_guide.svg" height="42" width="42" />
                            </div>FAQs
                          </a>
                        </div>
                        <div class="col-md-6 help-link-icon">
                          <a href="/vuDoc/support/index.html" target="_blank">
                            <div>
                              <img src="/ui/vienna_images/suport.svg" height="42" width="42" />
                            </div>Support
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            </li>
            <li uib-dropdown is-open>
              <div class="logout-button" uib-dropdown-toggle aria-expanded='false'>
                <div uib-tooltip="Logout">
                  <i class='icon-user bg-color'></i>
                  <span class="user-name">{{userName}}</span>
                  <i class="icon-down-arrow" aria-hidden="true"></i>
                </div>
              </div>
              <div class="logout-dropdown" uib-dropdown-menu>
                <div class="row">
                  <div class="col-sm-4">
                    <i class="fa fa-user user-icon" aria-hidden="true"></i>
                  </div>
                  <div class="col-sm-5 tenant-info-container">
                    <div class="user-name-indropdown">{{userName}}</div>
                  </div>
                  <div class="col-sm-1 zero-padding-column allow-console-access-container" ng-if="allow_console_access">
                    <i class="fa fa-bullseye" ng-click="openAdminConsole()" uib-tooltip='Open admin console'></i>
                  </div>
                  <div class="col-sm-1 zero-padding-column fixed-when-no-adminconsole">
                    <i class="fa fa-cog" ng-click="openUserSettings()" uib-tooltip='Open user settings'></i>
                  </div>
                </div>
                <div class="btn logout-button-container" ng-click="buttonLogout()">
                  Logout
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <vunet-modal show-modal="showModal" on-close="onModalClose" data="modalData" on-submit="onModalSubmit">
      </vunet-modal>
    </div>
  </div>
  <vunet-modal show-modal="showUserSettingsModal" on-close="onUserSettingsModalClose" data="userSettingsModalData"
    on-submit="onUserSettingsModalSubmit">
  </vunet-modal>
</div>