@import '~ui/styles/vunet_variable_theme.less';

/*slim scrollbar*/
/* Body min-height set */

body.fixed-left {
	.side-menu.left {
		position: fixed;
	}
}
#wrapper {
	height: 100%;
	overflow: hidden;
	width: 100%;
}
#wrapper.enlarged {
	.menu-title {
		display: none !important;
	}
	.menu-arrow {
		display: none !important;
	}
	.help-box {
		display: none !important;
	}
	#sidebar-menu {
		ul {
      //closed view after
			ul {
        box-shadow: 0.7rem 0.7rem 2rem -0.3rem @box_shadow_color;
				margin-top: -.2rem;
				padding-bottom: .5rem;
				padding-top: .5rem;
				// z-index: 9999;
				background-color: @white;
			}
    }
	}
	.left.side-menu {
		width: 8rem;
		// z-index: 5;
		#sidebar-menu {
			>ul {
				>li {
					>a {
						padding: 1.5rem 2.4rem;
						&:hover {
							color: @accent_color !important;							
						}
						&:active {
							color: @accent_color !important;							
						}
						&:focus {
							color: @accent_color !important;						
						}
						i {
							margin-right: 2rem !important;
							font-size: 2.4rem;
						}
					}
				}
			}
			ul {
				>li {
					&:hover {
						>a {
							width: 30.7rem;
							color: @accent_color !important;
							background-color: @white;
						}
						>ul {
							display: block;
							left: 7rem;
							position: absolute;
							width: 23.5rem;
							a {
								padding-left: 1.5rem;
								position: relative;
								width: 23.5rem;
								// z-index: 6;
							}
						}
						a {
							span {
								display: inline;
							}
						}
					}
					>a {
						span {
							display: none;
							padding-left: 1rem;
						}
					}
				}
			}
			// a.subdrop {
      //   // color : @accent_color !important;
      //   // border-left: .6rem groove @accent_color ;
      //   // padding-left: 1.9rem ;
			// }
		}
	}
	.topbar {
		.topbar-left {
			width: 8rem !important;
			.logo {
				span {
					display: none;
				}
			}
		}
	}
}

.topbar {
	position: fixed;
	z-index: 2;
	.topbar-left {
		background: @white;
		text-align: center;
    height: 8rem;
    min-height:50px;
		// position: relative;
		width: 26.5rem;
    // z-index: 1;
    box-shadow: 0.7rem 0rem 2rem -0.3rem @box_shadow_color;
    // box-shadow: .5rem .5rem 1.5rem 0 @box_shadow_color , 0rem .6rem .3rem -.4rem @accent_color;
  }
}

// CSS  FOR LOGO
.logo {
  line-height: 8rem;
  .row{
    margin-right: 0px!important;
    padding-left:1rem;
    .zero-padding{
      padding:0rem;
      span {
        color:@logo_text_color;
        font-family:@inter-medium;
        padding-right: 4rem;
        font-size: 2.25rem;
      }
    }
  }
  img{
    height:5rem;
    width:4.5rem;
  }
}

.side-menu.left {
	top: 8rem;
	bottom: 0;
}
.side-menu {
	width: 26.5rem;
  padding-top: 1rem;
  // as the z-index of kbn-top-nav was 4 and we do not want to edit it we made its z-index as 5
	z-index: 5;
  position: fixed;
  box-shadow: 0.7rem 0rem 2rem -0.3rem @box_shadow_color;
}

#sidebar-menu {
	padding-bottom: 30rem;
	ul {
		padding: 0;
		li {
			a {
				i {				
          color:@accent_color;
          font-size: 2.4rem;
          margin-left: .3rem;
          margin-right: 2rem;
					text-align: center;
					vertical-align: middle;
					width: 2rem;
          pointer-events: none;
				}
			}
		}
		ul {
      display: none;
      background-color:@view_background;
			a {
				color: @sidebar_text_color;
				-webkit-transition: all 0.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
				display: block;
				padding: 1rem 2rem 1rem 6.5rem;
				font-size: 1.6rem;
				&:hover {
					color: @accent_color;
        }
			}
		}
	}
	// .subdrop {
  //   // border-left: .6rem groove @accent_color ;
  //   // color : @accent_color !important;
  //   // padding-left: .8rem ;
	// }
	>ul {
		>li {
      line-height:3.3rem;
			>a {
				color: @sidebar_text_color;
				display: block;
				padding: 1.2rem 1.3rem;
        margin: .2rem 0;
        // height:5rem;
				&:hover {
					color: @accent_color;
					text-decoration: none;
				}
				>span {
					vertical-align: middle;
          pointer-events: none;
          font-family:@inter-medium;
          font-size:1.55rem;
				}
			}
		}
	}
}
.waves-effect {
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	// will-change: opacity, transform;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
  .button-menu-mobile {
    background: transparent;
    border: none;
    color: @black;
    // position:fixed;
    // padding: 0 2rem;
    display: inline-block;
    i {
      font-size: 2.4rem;
    }
    &:hover {
      color: @accent_color;
      outline-style: none;
    }
    &:focus {
      outline-style: none;
      outline: none;
      border:none;
    }
    &:active{
      outline-style: none;
      outline: none;
      border:none;
    }
  }


.slimScrollDiv {
	height: auto !important;
}
body.fixed-left-void {
	min-height: 1250rem;
}
.active-page{
  border-right: 0.3rem solid @accent_color;
  font-family: @inter-medium;
  a{
    color: @accent_color!important;
  }
}

.active-page-firstlevel{
  border-left:.3rem solid @accent_color ;
  // padding-left: 3rem!important;
  color:@accent_color!important;
  font-family: @inter-medium!important;
  
}

// li{
//   &:focus{
//     box-shadow: none !important;
//   }
// }