
@import '~ui/styles/vunet_variable_theme.less';

.kuiLocalNavRowVunet {
  height:8rem;
  min-height: 50px; 
  box-shadow:0px -.6rem .3rem -.4rem @accent_color;
  li{
    padding:0rem 1.7rem;
    .dropdown-menu {
      min-width:22vw !important;
      padding:0px !important;
      box-shadow: 0rem 0rem 1rem 0.4rem @box_shadow_color;
      border-radius: 1rem!important; 
      margin-top: 1rem!important;
      margin-right: 1rem;
      .notification-header {
        padding: 1.2rem;
        color: @accent_color;
        height: 5rem;
        font-size: 1.7rem;
        min-height: 20px!important;
        border-bottom: .2rem solid @seperator_color;
        font-family: @barlow-medium;
        .fa {
          padding: 0rem 1rem;
        }
        .close-dropdown {
          float: right;
        }
      }
      .new-notification {
        background:@action_bar_background;
      }
      .notification-content {
        padding: 0.5rem 0rem 0.5rem 0.5rem;
        border-bottom: .1rem solid @seperator_color;
        .notification-subject {
          height: 3.2rem;
          padding: 0rem 0rem 0rem 1rem;
          font-family: @barlow-semibold;
          .fa {
            font-size: 2.2rem;
            padding: 1rem 2rem 1rem 0rem;
          }
          .fa-warning {
            color:@orange;
          }
          .fa-exclamation-circle {
             color: @red;
          }
          .fa-archive {
            color: @green;
          }
          .fa-undo {
            color: @green;
          }
          .fa-info-circle {
            color: @accent_color;
          }
          .fa-minus-circle {
            color: @red;
          }
          .go-to-notification-details{
            padding-right: 4rem;
            padding-top: .8rem;
            .fa-arrow-circle-right{
              padding:0;
              font-size:1.5rem;
            }
          }
        }
        .notification-desc {
          padding: 0rem 5.5rem;
          color: @text_color1;
          font-size: 1.3rem;
          word-wrap: break-word;
          word-break: break-all;
        }
        .notification-name {
          word-wrap: break-word;
          word-break: break-all;
          font-size:1.6rem;
          vertical-align: super;
          color: @text_color1;
        }
        .notification-time {
          color: @text_colr_grey;
          font-size: 1.3rem;
          padding-left: 29rem;
        }
      }
    }
    .view-notifications{
      text-align: center;
      margin-top: 1rem;
      .view-all-notifications{
        color:@accent_color;
        font-family:@barlow-semibold;
        font-size: 1.4rem;
      }
    }
    .diagnostic-button , .logout-button , .uib-dropdown-toggle{
      padding: 2.55rem 0rem;
    }
    .diagnostic-button {
      background-color: @white;
      border: none;
    }
    .logout-button{
      &:hover{
        background-color: @white;
        .icon-user{
          font-weight:bold;
        }
        .user-name{
          color:@accent_color;
          font-family:@barlow-bold;
        }
        .icon-down-arrow{
          color:@accent_color;
          font-weight:bold; 
        }
      }
      .user-name{
        vertical-align: super;
        font-size: 1.6rem;
        padding: 0rem .5rem 0rem 1rem;
      }
      .icon-down-arrow{
        vertical-align: super;
      }
    }
    .logout-dropdown{
      min-width: 17vw!important;
      box-shadow: 0rem 0rem 1rem 0.4rem @box_shadow_color;
      border-radius: 1rem!important;
      margin-top: 1rem!important;
      margin-right: 1rem;
      .user-icon{
        font-size: 7rem;
        padding: 1.5rem 3rem 1.5rem 3rem;
      }
      .tenant-info-container{
        padding: 3.5rem 0rem 2rem 0rem;
        font-size: 2rem;
        font-family: @barlow-medium;
        .tenant-id-container , .user-name-indropdown{
          text-align: center;
        }
      }
      .logout-button-container{
        padding-top: .8rem;
        width: 16.9vw;
        background-color: @accent_color;
        height: 5rem;
        font-family: @barlow-semibold;
        color: @white;
        font-size: 2rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
      .allow-console-access-container{
        i{
          font-size: 2rem;
          margin-top: 1rem;
          margin-left: 1.25rem;
        }
      }
      // DOnt remove will be used to fix the postion of general settings icon when there is no admin console icon
      // .fixed-when-no-adminconsole{
      //   position: fixed;
      //   right: 8rem;
      // }
      .zero-padding-column{
        padding:0rem;
        .fa-cog{
          font-size:2rem;
          margin:1rem 0rem 0rem 1.5rem;
        }
      }
    }
    .notificationlength{
      top: 1.5rem;
      position: absolute;
      left: 3.2rem;
      font-size: 1.3rem;
      color: white;
      border-radius: 1rem;
      background: #f33434;
      padding: .1rem .75rem .1rem .75rem;
      font-family: @barlow-semibold;
    }
  }
  .icon-user , .icon-Diagnostics , .icon-Notification {
    font-size:2.7rem;
    color:@accent_color;
    &:hover{
      font-weight:bold;
    }
  }
  .icon-Notification{
    padding-right:1.5rem;
  }
  .vunet-notifications-borders{
    border-left: .1rem solid @seperator_color;
    border-right: .1rem solid @seperator_color; 
  }
  .vunet-notifications{
    padding-left: 5rem;
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;
    .toaster-container{
      display: inline-block;
      width:auto;
      overflow-y: auto;
      max-height: 7.5rem;
      max-width: 47vw;
      .toaster{
        li{
          padding:0rem;
          margin-bottom: .5rem;
          div{
            i{
              padding-right: 2rem;
              font-size:1.75rem;
            }
            kbn-truncated{
              padding-right: 2rem;
              padding-top: 0;
              span{
                p{
                  margin-bottom:0;
                  font-size:1.4rem;
                }
              }
            }
            .toast-controls{
              button{
                border-radius:2rem;
                color:@white;
                padding: 0rem 1.5rem;
                font-size: 1.4rem;
                &:hover{
                  color:@white!important;
                  font-family: @barlow-semibold;
                }
              }
              .kuiButton--danger{
                background-color:@error_red;
              }   
            }
            .toaster-countdown {
              // padding-left: 1rem;
              span{
                background-color: @white;
                color: @text_colr_grey ;
                width: 4rem;
                border:none;
                // font-size:1.5rem;
              }
            }
          }
        }
      }
      .toast{
        .badge{
          margin-right: 1rem;
          padding: .3rem .6rem .4rem .6rem;
          color: @text_color1;
          background:@white;
          border: .1rem solid @border_color;
        }
      }
      .toast-stack{
        pre{
          font-size:1.4rem;
          padding:1rem;
        }
      }
    }
  }
  .vunet-topbar-actions{
    padding-left:0rem;
    padding-right:1.5rem;
  }
  .icon-Menu-Collapse , .icon-maximize{
    color: @accent_color;
    font-size: 3rem;
    &:hover{
      font-weight:600;
    }
  }
  .icon-Menu-Collapse {
    padding-left: 2rem;
  }
  .icon-maximize{
    padding: 2.7rem 0rem 2.7rem 0rem;
    font-size: 2.5rem;
  }
  //this has been done for the run diagnostic modal
  .kuiModalOverlay{
    .kuiModal{
      max-height:90vh;
      overflow:auto;
      margin-top:10rem;
      .kuiModalBody{
        padding-right:3rem!important;
      }
    }
  }
}

.topbar-container{
  .kuiButton--hollow {
    &:enabled{
      &:hover{
        background-color:@accent_color!important;
        color:@white!important;
        border: none;
        text-decoration: none!important;
        font-family: @barlow-bold;
        box-shadow: 0rem 0rem 1rem 0.7rem rgba(0, 0, 0, 0.06);
      }
    }
  }
  .kuiButton--primary{
    box-shadow:none;
    &:hover{
      background-color: #e8e7ee;
      color: #ababb1;
    }
  }
 
}

.alert-notification{
  padding-right: 0!important;
  .no-notifications{
    color:@sidebar_text_color;
    font-size: 2rem;
    font-family: @barlow-semibold;
    margin: 1.5rem 0rem 1.5rem 0rem;
    text-align: center;
  }
}


// SEE ALL COMPONENET COMMENTED IN HTML (Can be used in future)
// .see-all-wrapper {
//   text-align: center;
//   padding: 5px 0px;
//   .see-all {
//     font-weight: bold;
//   }
// }




