@import "~ui/styles/vunet_variable_theme.less";

  .events-list-wrapper {
    height: 100%;
    .event-listing-wrapper {
      font-size: 1.25rem;
      position: relative;
      margin-top: 1%;
      height: 95%;
      overflow: scroll;
      padding-right: 0.5%;
    }

    .pagination-event-console {
      li {
        a:hover, a:focus, a:active {
          background: @event-console-button-background !important;
        }
      }
      .active {
        background: @event-console-button-background !important;
        a {
          background: @event-console-button-background !important;
        }
      }
    }
  }

  #column-selector-id {
    display: none;
  }

  button {
    box-shadow: none;
  }