@import "~ui/styles/vunet_variable_theme.less";

.event-list-container {

  .events-table-container {

    .event-listing-wrapper {
      font-size : 1.25rem;
      position  : relative;
      margin-top: 1%;
      height    : 100%;
      width     : 100%;
      display   : flex;

      .event-sort-list-wrapper {
        max-width   : 50%;
        min-width   : 20%;
        margin-right: 2rem;
      }
    }

    .pagination-container {
      display        : flex;
      justify-content: flex-end;
      margin         : 1rem 0px;

      .space-holder {
        margin : 0;
        padding: 0;
      }

      .view-all-events {
        padding        : 0.5rem;
        font-size      : initial;
        cursor         : pointer;
        font-family    : "Inter-Bold";
        text-decoration: underline;
      }

      .pagination-component {
        display: flex;
      }

      .pagination-count {
        border-radius: 0.4rem;
        margin-right : 2rem;

        select {
          height : 100%;
          border : 1px solid @event-console-border-color;
          padding: 0 1rem;
        }
      }

      .pagination {
        margin       : 0 !important;
        padding-right: 1rem;

        li a {
          cursor    : pointer !important;
          border    : 1px solid @event-console-border-color;
          color     : @event-console-button-background  !important;
          background: @white;

          &:hover,
          &:focus,
          &:active {
            background: @white;
          }
        }

        li.active a,
        li a:hover,
        li a:focus {
          color     : @white  !important;
          background: @event-console-button-background  !important;
        }
      }
    }
  }
}

@media screen and (max-height: 685px) and (min-height: 400px) {
  .event-listing-wrapper {
    height: 85% !important;
  }
}

@media screen and (max-height: 800px) and (min-height: 685px) {
  .event-listing-wrapper {
    height: 90% !important;
  }
}

#filter-selector-id {
  display: none;
}