@import "~ui/styles/vunet_variable_theme.less";

.tableActions{
    border: 1px solid @button-border;
    border-radius: @box-border-radius;
    padding: @input-padding;
    color: @grey_dark;
    background-color: @button-bg;
}

.tableActions:hover{
    color: @grey_dark;
    background-color: @white;
}

.tableActions:focus{
    box-shadow: none;
}