@import "~ui/styles/vunet_variable_theme.less";

.operationbar-wrapper {
  margin-bottom : 1%;
  font-size     : 1.6rem;
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;

  .open-close-sort {
    height         : 3.4rem;
    width          : 3.4rem;
    border         : 1px solid @event-console-border-color;
    border-radius  : 2px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    cursor         : pointer;
  }

  .filter-button-wrapper {
    margin: 0rem 2rem;

    .filter-button {
      display         : flex;
      justify-content : center;
      align-items     : center;
      background-color: @white;
      color           : @black;
      border          : 1px solid @event-console-border-color;
      border-radius   : 2px;
      padding         : 0.5rem 2rem;

      .filter-selector-icon {
        margin-right: 1.5rem;
        font-size   : 1.35rem;
      }
    }
  }

  .selected-filters-container {
    display       : flex;
    flex-direction: row;
    max-width     : 40%;
    flex-wrap     : wrap;
    margin-right  : 1rem;

    .summary-filter {
      padding-right : 0.7rem;
      font-size     : 1.5rem;
      color         : @accent_color;
      border        : 1px solid @accent_color;
      border-radius : 9rem 9rem 9rem 9rem;
      padding-right : 1.5rem;
      padding-top   : 0.5rem;
      padding-bottom: 0.5rem;
      padding-left  : 1.5rem;
      margin-right  : 1rem;
      margin-bottom : 1rem;
      display       : flex;
      flex-direction: row;
      cursor        : pointer;

      .cancel-filter {
        padding-left: 1.2rem;
      }
    }
  }

  .selected-filter-container {
    display        : flex;
    flex-direction : row;
    justify-content: space-between !important;
    flex           : 2;
  }

  .filter-options-container {
    display        : flex;
    justify-content: flex-end;
    align-items    : flex-start;
    flex           : 1;

    .view-all-events {
      cursor: pointer;
    }

    .clear-all-filters:hover {
      text-decoration: underline;
    }

    .search-container {
      input {
        border             : 1px solid @event-console-border-color;
        font-size          : 1.6rem;
        padding            : 0.5rem 4rem 0.5rem 1rem;
        background-image   : url("/ui/vienna_images/search_icon_black.svg");
        background-position: 96% 40%;
        background-repeat  : no-repeat;
        background-size    : 1.8rem;
        color              : @black;
      }

      margin-right: 2rem;
      margin-left : 2rem;
    }

    .edit-button-wrapper,
    .report-button-wrapper {

      .edit-button,
      .report-button {
        display         : flex;
        background-color: @white;
        color           : @black;
        border          : 1px solid @event-console-border-color;
        border-radius   : 2px;
        padding         : 0.5rem 2rem;

        .column-selector-icon {
          margin-right: 1.5rem;
          font-size   : 1.35rem;
          padding-top : 0.5rem;
        }
      }
    }

    .edit-button {
      margin-right: 2rem;
    }
  }
}