@import "~ui/styles/vunet_variable_theme.less";

.operationbar-wrapper {
  background     : @white;
  padding        : 1%;
  margin-bottom  : 1%;
  font-size      : 1.6rem;
  display        : flex;
  flex-direction : row;
  justify-content: flex-end;

  .filter-options-container {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;

    .search-container {
      input {
        border   : 1px solid @event-console-border-color;
        font-size: 1.6rem;
        padding  : 0.5rem 4rem 0.5rem 1rem;
        background-image: url("/ui/vienna_images/search_icon_black.svg");
        background-position: 96% 40%;
        background-repeat: no-repeat;
        background-size: 1.8rem;
        color: @black;
        // padding-right: 1.8rem;
      }
      .column-selector-icon {
        margin-left: 10px;
        font-size  : 1.35rem;
      }

      margin-right: 2rem;
    }

    .edit-button-wrapper {
      .edit-button {
        display         : inline-block;
        background-color: @white;
        color           : @black;
        border          : 1px solid @event-console-border-color;
        border-radius   : 2px;
        padding         : 0.5rem 2rem;

        .column-selector-icon {
          margin-left: 10px;
          font-size  : 1.35rem;
        }
      }
    }
  }
}