.history-wrapper {
    width: 100%;
    text-align: left;
    padding: 2rem;
}

.history-row {
    margin-bottom: 0.1rem;
    line-height: 3;
    border: 0.1rem solid #f0f1f7;
}

.header-row {
    background-color: #f1f2f7;
    font-weight: bold;
    line-height: 3;
}