@import "~ui/styles/vunet_variable_theme.less";

.vunet-form-wizard-container {
  .wizard-container {
    margin: 0px;
    .row {
      margin: 0px;
    }
    .wizard-view {
      padding: 1rem 0rem 0rem 6rem;
    }
    .error-msg-container {
      color: @notifier_red;
      font-size: 1.7rem;
      float: right;
      margin-right: 6rem;
    }
  }

  .vunet-dynamic-form-div {
    .form-components-wrapper {
      height: 300px;
      overflow-y: auto;
    }
  }
}
