@import '~ui/styles/vunet_variable_theme.less';

.discovery-tabs-wrapper {
  padding: 1.25rem 0rem 0rem 6.5rem;
  background: @action_bar_background;
  border-bottom: none;
}


.kuiTabs {
    border-bottom: none;
}

.discovery-container{
  background-color: @view_background;
  padding:2.7rem 7rem 0rem 7rem;
}