<paginated-table
  ng-if="rows.length"
  rows="rows"
  columns="formattedColumns"
  per-page="perPage"
  sort="sort"
  show-total="showTotal"
  totalFunc="totalFunc"
  is-matrix="isMatrix"
  color-schema="colorSchema"
  link-info="linkInfo"
  interval="interval"
  print-report="printReport"
  hide-export-options="hideExportOptions"
  is-collapse-time-headers="isCollapseTimeHeaders"
  add-sr-number="addSrNumber"
  sr-number-title="srNumberTitle"
  cell-font-size="cellFontSize"
  cumulative-row-operation="cumulativeRowOperation"
  cumulative-column-operation="cumulativeColumnOperation"
  show-progress-bar="showProgressBar"
  show-word-wrap="showWordWrap"
  >

  <div class="export-options" ng-if="!printReport">
    <button ng-class="{'clicked': exportPopoverStatus}" ng-click="toggleExportPopoverState()">
      <i class="fa fa-download"></i>
    </button>
    <div class="export-popover" ng-if="exportPopoverStatus">
      <ul className="list-group list-group-flush">
        <a class="list-group-item list-group-item-action popover-list-item" ng-click="aggTable.exportAsCsv(false)">
          Export Raw
        </a>
        <a class="list-group-item list-group-item-action popover-list-item" ng-click="aggTable.exportAsCsv(true)">
          Export Formatted
        </a>
      </ul>
    </div>
  </div>

</paginated-table>
