.color-schema-table {
  width: 100%;

  thead tr {
    background-color: #ccc;
    font-weight: bold;

    th {
      text-align: center;
      width: 20%;
      padding: 10px;
    }
  }

  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  tbody tr td {
    text-align: center;
    padding: 10px;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

