.rbac {
  padding-top:1px;
  padding-bottom:5px
}

.rbac-header {
  font-weight:bold;
}
.rbac-tabel {
  width:300px;
}

.rbac-table-td {
  font-weight:bold;
  width:150px
}

.rbac-label {
  margin-left:10px;
  margin-right:10px;
  font-weight:normal;
}

.rbac-options-dropdown {
  margin-left: 2px;
  padding: 2px 7px;
  border-radius: 50%;
}

