.searchable-multi-select {
  float: right;
  position: relative;
  padding-right: 680px;
}

.searchable-multi-select a {
  width: 500px;
  padding: 5px 7px;
  overflow: hidden;
  background-color: #fff!important;
  color: #000 !important;
  border-color: #ccc!important;
}

.searchable-multi-select a span {
  display: block;
  overflow: hidden;
  margin-right: 10px;
}

.searchable-multi-select a .caret {
  position: absolute;
  right: 58%;
  top: 50%;
}

ul.dropdown-menu-form {
  padding: 5px 10px 0;
  height: 300px;
  width: 500px;
}
