
.searchable-multi-select {
  position: relative;

  .selected-values-container {
    height: 32px;
    width: 100%;
  }
  .caret {
    position: absolute;
    right: 1%;
    top: 40%;
  }

  ul.dropdown-menu-form {
    padding: 5px 10px 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 300px;
  }

  .limit-ellipsis {
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
  }
}




