
.searchable-multi-select {
  position: relative;

  .selected-values-container {
    height: 32px;
    width: 100%;
  }
  .caret {
    position: absolute;
    right: 1%;
    top: 40%;
  }

  ul.dropdown-menu-form {
    padding: 5px 10px 0;
    width: 100%;
    height: 30rem;
    // This has been done to fix the scroll of searchable multiselect to top
    .fixed-search-top{
      height: 25rem;
      overflow-y: auto;
      margin-top: .5rem;
    }
    // This has been done to fixed the scrollable x-axis in searchable multiselect
    li{
      label{
        .row{
          margin-left: 0px;
          margin-right: 0px;
        }
      }
    }
  }

  .limit-ellipsis {
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
  }
}




