// All the variable for colors are defiend below

//COLORS
@accent_color : #5a4fef;
@accent_color_dark_shade1 : #342ac0;
@accent_box_shadow: #cfcbff;

@white : white;

@black : black;
@black_shade1 : #0F0F0F;
@green : #399e32;
@red : #f33434;
@orange : #ff8e00;

@bmv_red:#dd171d;
@bmv_green:#05a608;
@bmv_orange:#f46f0c;
@bmv_yellow:#fecc2f;

@grey_dark: #353535;
@grey_light: #656565;
@grey_lighter: #636363;
@grey_smoke: #bdbdbd;

@notifier_red : #A30000;
@notifier_green:#05a608;

@text_color1 :#323232;
@element_text_header: #585858;
@text_colr_grey: #b4b4b4;

@logo_text_color:#8d8d8d;
@sidebar_text_color: @element_text_header;

@action_bar_background : #f1f2f7;
@view_background: #f6f7fb;

@disable_button_color:#e8e7ee;
@disable_button_text_color:#ababb1;

@border_color : #b7dae3;
@border_color_lighter : #f0f1f7;
@seperator_color:#f2f3f4;
@seperator_color_grey: #efefef;
@seperator_color_greyDark: #e3e2e2;

@border_color_table_checkbox : #BEBEBE ;
@box_shadow_color : rgba(0, 0, 0, 0.06);

@background_color_light_grey: #f4f5f9;
@background_color_grey: #e5e7e8;

@control_vis_bg_colour: #F5F5F5;
@control_vis_label: #707070;
@control_vis_border: #D9D9D9;

//FONTS
@inter-regular : 'Inter-Regular';
@inter-medium : 'Inter-Medium';
@inter-bold : 'Inter-Bold';


// VARIABLES USED FOR HEIGHT CALCULATIONS
@topbar-height : 48px;
@alert-top-header-bar: 9.5rem;
@menubar-height-for-listing-pages-and-berlin : 58px;
@kbn-top-nav-height : 69px;
@kbn-top-nav-height-for-vunet-tabs : 6rem;
@kbn-top-nav-height-with-filter : 106px;
@kbn-top-nav-height-with-filterbar-and-searchbar: 255px;
@menubar-height-for-single-docs : 160px;

//Height variables for viewing content
@view-content-height-berlin : ~"calc(100vh - @{topbar-height})";
@view-content-height-dashboard : ~"calc(100vh - @{kbn-top-nav-height-with-filter} - @{topbar-height})";
@view-content-height-storyboard : ~"calc(100vh - @{kbn-top-nav-height-for-vunet-tabs} - @{kbn-top-nav-height-with-filter} - @{topbar-height})";
@view-content-height-for-vunet-tabs : ~"calc(100vh - @{kbn-top-nav-height-for-vunet-tabs} - @{topbar-height})";
@view-content-height-menubaronly : ~"calc(100vh - @{menubar-height-for-listing-pages-and-berlin} - @{topbar-height})";
@view-content-height-menubaronly-bigger : ~"calc(100vh - @{kbn-top-nav-height} - @{topbar-height})";
@view-content-height-menubar-bigger-withsearch : ~"calc(100vh - @{kbn-top-nav-height-with-filterbar-and-searchbar} - @{topbar-height})";
@view-content-height-single-doc : ~"calc(100vh - @{menubar-height-for-single-docs} - @{topbar-height})";
@view-content-tabs-alert: ~"calc(100vh - @{topbar-height} - @{kbn-top-nav-height-for-vunet-tabs} - @{alert-top-header-bar})";
//Height variables for viewing content in FullScreen Mode
// Small defines menubar with less height (eg berlin,listing pages)
@view-content-fullscreen-height-small:~"calc(100vh - @{menubar-height-for-listing-pages-and-berlin})";
// Medium defines kbn-top-nav height
@view-content-fullscreen-height-medium:~"calc(100vh - @{kbn-top-nav-height})";
// Large defines height of menubar with filterbar
@view-content-fullscreen-height-large:~"calc(100vh - @{kbn-top-nav-height-with-filter})";
// Height for fullscreen alert deatils page
@view-content-fullscreen-height-alert:~"calc(100vh - @{kbn-top-nav-height-for-vunet-tabs} - @{alert-top-header-bar})";

// Variables used in Event Console
@event-console-border-color: #EFF1F5;
@event-console-button-background: #5A4FEF;
@event-console-critical-color: #F70302;
@event-console-information-color: #05A608;
@event-console-error-color: #F56F00;
@event-console-total-color: #5A4FEF;
@event-console-warning-color: #FFC800;
@event-console-total-color: #5A4FEF;
@event-console-separator-color: #d1d2d2;
@event-console-detail-heading-color: #818080;
@event-console-detail-info-background-color: #f1f2f7;
@event-console-multi-select-color: #E76F51;
@blue: blue;
@event-console-more-details-button-color: #d1d2d2;
@event-console-cancel-button-border-color: #5A4FEF;
@event-console-create-ticket-border-color: #818080;

// Variables used in Network Section
@network-top-bar-color: #5a4fef;
@network-white-color: #FFF;
@serach-icon-color: #b4b4b4;
@network-toobar-searchbox: #D9D9D9;
@network-border-color: #f2f3f4;
@network-nodes-border: #ddd;
@network-table-list: #efefef;
@network-button-color: #5a4fef;
@network-title-color: #f1f2f7;
@network-asset-title-color: #5a4fef;
@networkMap-node-details-border: #d0d0d0;
// Variables used in Trend Charts Revamp
@trend-revamp-text-color: #5E5E5E;

//variables used in Summary Component.
@summary-background-color: #f2f3f4;
@summary-border-color: #dde0e2;

// Variables used in License usage page
@license-impending-color: #FCA600;
@license-background-color: #FFFFFF;
@license-header-color: #F5F6FA;
@licen-table-border-color: #E6E9F4;
// Variables used in coordinate and geo maps
@map-count-label-color: #516178;
@map-count-color: #202020;
