@import (reference) "~ui/styles/variables";

@media only screen and (max-width: 1600px) {
  html{
    font-size:9px !important;
  }
}

@media only screen and (max-width: 1450px) {
  html{
    font-size:8px !important;
  }
}

@media only screen and (max-width: 1305px) {
  html{
    font-size:7px !important;
  }
}

@media only screen and (max-width: 1200px) {
  html{
    font-size:6px !important;
  }
}

// CUSTOM SCROLLBAR 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 .5rem grey; 
  border-radius: 1rem;
}
::-webkit-scrollbar{
  width: .4rem;
  height: .4rem;
  border-radius: 1rem;
  // display: none;
  // &:hover{
  //   display:block;
  // }
}
::-webkit-scrollbar-thumb{
  background-color: #5a4fef;	
  border-radius: 1rem;
}
// ::-webkit-scrollbar:vertical {
//   display: none;
// }
// ::-webkit-scrollbar-thumb:hover{
// 	display:block;	
// }
// ::-webkit-scrollbar:active{
//   display:inline;
// }

/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
  width:100%;
  height:100%;
  // background-color:#f6f7fb; 

}

/* Firefox syntax */
:-moz-full-screen {
  width:100%;
  height:100%;
  // background-color:#f6f7fb; 
}

/* IE/Edge syntax */
:-ms-fullscreen {
  width:100%;
  height:100%;
  // background-color:#f6f7fb; 
}

/* Standard syntax */
:fullscreen {
  width:100%;
  height:100%;
  // background-color:#f6f7fb; 
}


body{
  font-family:'Barlow-Regular';
}
html{
  font-size:10px;
}

//This has been done to disable the outline on focus
select, input, a {
  &:focus{
    box-shadow:none!important;
  }
}
// , input[type="radio"], input[type="checkobx"]
input[type="file"]{
  &:focus{
    border:.2rem solid #fdf1f1;
  }
}

//Bacground color for all views
.vunet-application{
  height:80vh;
  overflow-y:auto;
  .app-container{
    // this has been done as scroll was not appreaing for dashboards  in fullscreen mode
    overflow-y: auto;
    // this has been added to give this color in fullscreen mode for visualization
    background-color:#f6f7fb; 
    //this has been added to display cut off label of y-axis on right for visualizations
    .vis-editor-content{
      .vis-editor-canvas{
        .vis-container {
          .visualize-chart{
            .vis-wrapper{
              .y-axis-col-wrapper{
                .axis-wrapper-right{
                  .y-axis-div-wrapper{
                    padding-right:.3rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    // why this was done 
    // this code has been removed as after selecting a dashboard, 
    // the whole category list is not visible by clicking on the 'menu button'
    // kbn-top-nav{
    //   z-index:0 !important;
    // }
    // IN a business matrix dashboard, margin-top has been given to maximize option alignment
    .react-grid-layout{
      .react-grid-item{
        .dashboard-panel{
          .panel-default{
            .panel-heading-floater{
              margin-top: .4rem;
            }
          }
        }
      }
    }
    // this has been done to give overflow to matrix visualization with more rows
    .dashboard-viewport-with-margins{
      .react-grid-layout {
        .react-grid-item{
          .dashboard-panel{
            .panel-default{
              .panel-content{
                overflow: auto;
              }
            }
          }
        }
      }
    }
  }
  // In Data table Visualization and matrix Visualization --> options, when we enable the color coding,
  // after adding the range, the action field is coming out of the border line. 
  // And when we point a cursor on the help icon, the help message is coming out of the border line and due to this the screen is oscillating.
  // below is the fix for this
  .collapsible-sidebar{
    .vis-editor-sidebar{
      .sidebar-container{
        .sidebar-list{
          .vis-editor-config{
            .visualization-options{
              .matrix-params{
                .vis-color-schema{
                  .table-color-schema-table{
                    width:100%;
                    thead{
                      tr{
                        th{
                          text-align: center;
                          font-size:1.4rem;
                          font-family:'Barlow-Semibold';
                        }
                      }
                    }
                    tbody{
                      margin: 1rem 0px 1rem 0px;
                      tr{
                        font-size: 1.25rem;
                        height: 3rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // .vis-col-wrapper{
  //   // margin-left:5rem!important;
  // }
  background-color:#f6f7fb;
    .kuiLocalNav{
      background-color:#f1f2f7;
      // height:6.5rem !important;
      border:none;
      min-height:40px;
      .kuiLocalNavRow{
        .kuiLocalTitle{
          font-family: 'Barlow-Semibold';
          color: #5a4fef;
          position: relative;
          top: .9rem;
          padding: 0.9rem 0rem 0rem 3rem;
          font-size: 1.9rem;   
          width:100%;   
        }
      }
      .kuiLocalDropdown{
        padding: 2.5rem 1rem 1.5rem 0rem;
        .kbn-timepicker-content {
          width: 70rem;
          max-width: unset;
          .kuiVerticalRhythmSmall{
            .kbn-timepicker-body{
              .btn-default{
                background-color:#f6f7fb;
                border:none;
                color:black;
                &:hover{
                  color: #F5F5F5;
                  background-color: #292F4F;
                }
              }
              .btn[disabled]{
                &:hover{
                  background-color:#f6f7fb;
                  color:black; 
                }
              }
              .active{
                background-color:#5a4fef ;
                span{
                  color:white;
                }
              }
            }
          } 
          .kbn-timepicker-actions{
            padding-top:1rem;
          }
      }
    }
  }
}

// all btn-file are defined here
.vunet-btn-file-import{
  background-color:#fff;
  font-size: 1.75rem;
  box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.06) ;
  border-radius:0rem;
  margin-bottom: 2rem;
  width: 90%;
  margin-left: 2rem;
  color:black!important;
  &:hover{
    color: #5a4fef!important;
    font-family: 'Barlow-Bold';
    box-shadow: 0rem 0rem 1rem .7rem rgba(0, 0, 0, 0.06) ;
  }
}


//vunet-white-buttons 
.vunet-btn-collect , .vunet-btn-download ,.vunet-btn-export ,.vunet-btn-import{
  background-color:#fff;
  font-size: 1.75rem;
  border-radius: 2rem;
  box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.06) ;
  color:black!important;
  &:hover{
    color: #5a4fef!important;
    font-family: 'Barlow-Bold';
    box-shadow: 0rem 0rem 1rem .7rem rgba(0, 0, 0, 0.06) ;
  }
}

///vunet Simple Buttons for angular code
.btn-vunet-submit , .btn-vunet-cancel , .btn-vunet-next , .btn-vunet-previous ,.btn-vunet-others , .btn-vunet-import ,  .btn-vunet-export{
  background-color: #5a4fef;
  font-size: 1.6rem;
  border-radius: 2rem;
  box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.06);
  margin-right: 3rem;
  margin-top: 1rem;
  color: #fff;
  &:hover{
    // color: #fff;
    font-family: 'Barlow-Semibold';
    box-shadow: 0rem 0rem 1rem .7rem rgba(0, 0, 0, 0.06);
  }
}

//Disabled button  for angular code
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  background-color: #e8e7ee!important;
  color:#ababb1!important;
  &:hover{
    box-shadow:none;
    font-family:'Barlow-Regular'!important;
    // color:#ababb1!important;
  }
}

// this has been done to disable the run diagnostics button
button[disabled], {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  // background-color: #e8e7ee!important;
  // color:#ababb1!important;
  .icon-Diagnostics {
    color:#ababb1!important;
    &:hover{
      font-weight: normal;
    }  
  }
  &:hover{
    box-shadow:none;
    font-family:'Barlow-Regular'!important;
    // color:#ababb1!important;
  }
}

// vunet-buttons for react components form etc
.vunet-button{
  margin-left:1rem;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding:.6rem 3rem .6rem 3rem !important; 
  font-size: 1.6rem!important;
  height: 3.5rem!important;
  text-decoration: none;
  border: none;
  border-radius: 2rem;
  background-color: #5a4fef;
  color:#ffffff !important;
  box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.06);
  &:hover{
    color: #fff!important;
    text-decoration: none!important;
    font-family: 'Barlow-Semibold';
    box-shadow: 0rem 0rem 1rem .7rem rgba(0, 0, 0, 0.06);
  }
}

// These classes use for reports
.report-print-non-table {
  height: 575px;
  overflow:hidden;
}

.vis-container-report {
  width: 1050px;
  overflow:hidden;
}

// These classes are used in business metric
.referenceLinkDashboard {
  padding-top: 10px;
}

// This css belongs to multilevel drop down menu under dashboards section.
.navigate {
  .navbar-nav {
    ul {
      padding:0px;
    }
    margin: 0px 8px;
    li a {
      color: @vunet-text-color;
      border-bottom: 1px solid @vunet-border-color;
      padding: 8px 15px;
      font-size: 12px;
      &:hover {
        background: @vunet-background-color;
      }
    }
    .dropdown-link {
      padding: 3px 0px;
      border-bottom: 0px;
      background-color: @vunet-background-color;
      border-color: none;
      &:hover {
        background-color: @vunet-background-color;
      }
    }
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color:@vunet-text-color;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover > a:after {
    border-left-color: @vunet-text-color;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
  }
}

// Remove white spaces for business metric panels
.bs-metric-panel {
  padding: 0px !important;
}

// Get rid of extra white spaces in visualisations
// added under a dashboard.
.dashboard-panel {
  .panel-content {
    padding: 0px !important;
  }
}

// Data table css

// Table header background
.table-condensed thead tr th{
  background: @data-tables-header-background;
}

.agg-table-group {
  margin-bottom: 0px;
}

.agg-table-group tbody tr:nth-child(odd) {
    background-color: @white;
} /*odd*/

.agg-table-group tbody tr:nth-child(even) {
    background-color: @data-tables-even-row-background;
} /* even*/

.table-condensed {
  margin:0px;
}

.table-condensed-print-report {
  font-family: 'sans-serif' !important;
}

.table-condensed tr th {
  border-left: 1px solid @data-tables-border;
  border-top: 1px solid @data-tables-border;
  border-right: 1px solid @data-tables-border;
  border-bottom:0px;
  padding: 4px 5px;
  font-size: 13px;
  font-weight: normal;
  color: #000;
}

.table-condensed tbody td {
  border-left: 1px solid @data-tables-border;
  border-bottom: 1px solid @data-tables-border;
  border-right: 1px solid @data-tables-border;
  border-top: 0px;
  padding: 4px 5px;
  font-size: 12px;
  color: #000;
}

.table-condensed tbody tr td {
  padding:4px 5px;
}

.agg-table-paginated {
  border:1px solid @data-tables-border;
  // Set the height of empty rows in table / matrix to 22px
  tr td {
    height: 22px;
  }
}

.userCommentSection {
  form {
    width: 100%;
    padding: 2% 10%;
    border: 1px solid #bdbdbd;
    input, select {
      width: 100%;
      height: 22px;
      padding-left: 5px;
      color: #444444;
      background: #fff !important;
    }
    .usercomment-buttons-container {
      padding-top: 8px;
      overflow:hidden;
      button {
        float: right;
        margin-left: 6px;
      }
    }
    .form-element {
      div {
        padding: 0px;
      }
    }
  }
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vunetIcons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Settings:before {
  content: "\e900";
  color: #5a4fef;
}
.icon-Network:before {
  content: "\e901";
  color: #5a4fef;
}
.icon-Data-Source:before {
  content: "\e902";
  color: #5a4fef;
}
.icon-Analytics:before {
  content: "\e903";
  color: #5a4fef;
}
.icon-down-arrow:before {
  content: "\e904";
}
.icon-Menu-Collapse:before {
  content: "\e905";
  color: #6459f0;
}
.icon-user:before {
  content: "\e906";
  color: #5a4fef;
}
.icon-Notification:before {
  content: "\e907";
  color: #5a4fef;
}
.icon-Diagnostics:before {
  content: "\e908";
}
.icon-Data:before {
  content: "\e909";
}
.icon-Archive_failure .path1:before {
  content: "\e90a";
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path2:before {
  content: "\e90b";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path3:before {
  content: "\e90c";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path4:before {
  content: "\e90d";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path5:before {
  content: "\e90e";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path6:before {
  content: "\e90f";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path7:before {
  content: "\e910";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path8:before {
  content: "\e911";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path9:before {
  content: "\e912";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path10:before {
  content: "\e913";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path11:before {
  content: "\e914";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path12:before {
  content: "\e915";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path13:before {
  content: "\e916";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path14:before {
  content: "\e917";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path15:before {
  content: "\e918";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path16:before {
  content: "\e919";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path17:before {
  content: "\e91a";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path18:before {
  content: "\e91b";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path19:before {
  content: "\e91c";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path20:before {
  content: "\e91d";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path21:before {
  content: "\e91e";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path22:before {
  content: "\e91f";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path23:before {
  content: "\e920";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path24:before {
  content: "\e921";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path25:before {
  content: "\e922";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path26:before {
  content: "\e923";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path27:before {
  content: "\e924";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path28:before {
  content: "\e925";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path29:before {
  content: "\e926";
  margin-left: -1.0078125em;
  color: rgb(226, 76, 75);
}
.icon-Archive_failure .path30:before {
  content: "\e927";
  margin-left: -1.0078125em;
  color: rgb(209, 64, 63);
}
.icon-Archive_failure .path31:before {
  content: "\e928";
  margin-left: -1.0078125em;
  color: rgb(255, 255, 255);
}
.icon-Archive:before {
  content: "\e929";
  color: #ff8e00;
}
.icon-Types-Configured-09:before {
  content: "\e92a";
  color: #5a4fef;
}
.icon-Open-Indices-02:before {
  content: "\e92b";
  color: #9e9e9e;
}
.icon-Loading-Indices-11:before {
  content: "\e92c";
  color: #ff8e00;
}
.icon-Closed-Indices-01:before {
  content: "\e92d";
  color: #f33434;
}
.icon-Instances-Configured-07:before {
  content: "\e92e";
  color: #5a4fef;
}
.icon-Instances-Receiving-08:before {
  content: "\e92f";
  color: #5a4fef;
}
.icon-Archive_Success .path1:before {
  content: "\e930";
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path3:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path4:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path5:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path6:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path7:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path8:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path9:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path10:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path11:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path12:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path13:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path14:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path15:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path16:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path17:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path18:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path19:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path20:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path21:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path22:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path23:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path24:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path25:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path26:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path27:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path28:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path29:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(37, 174, 136);
}
.icon-Archive_Success .path30:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}



