@light-nav-bg:        #F8F8F8;
@dark-nav-bg:         #3B3B3B;

@navbar-height:       48px;
@navbar-item-size:    27px;

@sidebar-width:       50px;

@icon-grey:           #7D7D7D;
@icon-white:          #B1B1B1;

@hover-grey:          #EEEEF0;
@hover-white:         #515151;

@active-grey:         #E6E6E6;
@active-white:        #626262;

@item-border-height:  1px;

@bg-danger:           #D9534F;
@bg-danger-hover:     #CB2E25;

@text-color-light:    #373A3C;
@text-color-dark:     #F7F7F7;

@popover-bg-light:    #FFFFFF;
@popover-bg-dark:     #3B3B3B;

@popover-shadow:      rgba(0, 0, 0, 0.1);
@popover-animation_short:   cubic-bezier(0.34, 1.61, 0.7, 1) 350ms;
@popover-animation_long:   cubic-bezier(0.34, 1.61, 0.7, 1) 450ms;

@popover-border-light:      #CDCDCD;
@popover-border-dark:       #515151;

@blue-accent-light:         #5A4FEF;
@blue-accent-dark:          #8F8ADC;

@search-icon-inactive-light: #7D7D7D;
@search-icon-inactive-dark:  #B1B1B1;

@notification-critical-bg:        #F44E2D;
@notification-medium-bg:          #FFAE1F;
@notification-information-bg:     #2E81DF;
@notification-success-bg:         #29A746;

@notification-panel-bg-light: #FFFFFF;
@notification-panel-bg-dark: #222222;

@notification-panel-shadow:   rgba(0, 0, 0, 0.2);
@notification-panel-animation: cubic-bezier(0.75, -0.02, 0.2, 0.97);

@toast-alert-bg-success:      #04844B;
@toast-alert-bg-info:         #266FC2;
@toast-alert-bg-warning:      #FFAE1F;
@toast-alert-bg-failure:      #E24729;
@toast-alert-badge-bg:        rgba(255, 255, 255, 0.5);
