// All the variable for colors are defiend below

//COLORS
@accent_color : #5a4fef;

@white : white;
@black : black;
@green : #399e32;
@red : #f33434;
@orange : #ff8e00;

@error_red : #A30000;

@text_color1 :#323232;
@text_colr_grey : #b4b4b4;
@logo_text_color:#8d8d8d;
@sidebar_text_color: #585858;

@action_bar_background : #f1f2f7;
@view_background: #f6f7fb; 

@disable_button_color:#e8e7ee;
@disable_button_text_color:#ababb1;

@border_color : #b7dae3;
@seperator_color:#f2f3f4;
@border_color_table_checkbox : #BEBEBE ;
@box_shadow_color : rgba(0, 0, 0, 0.06); 


//FONTS
@barlow-regular : 'Barlow-Regular';
@barlow-medium : 'Barlow-Medium';
@barlow-semibold : 'Barlow-Semibold';
@barlow-bold : 'Barlow-Bold';


//Variables
@view-content-height : 85vh;