@import (reference) "~ui/styles/variables";

// These classes use for reports
.report-print-non-table {
  height: 575px;
  overflow:hidden;
}

.vis-container-report {
  width: 1050px;
  overflow:hidden;
}

// These classes are used in business metric
.referenceLinkDashboard {
  padding-top: 10px;
}

// This css belongs to multilevel drop down menu under dashboards section.
.navigate {
  .navbar-nav {
    ul {
      padding:0px;
    }
    margin: 0px 8px;
    li a {
      color: @vunet-text-color;
      border-bottom: 1px solid @vunet-border-color;
      padding: 8px 15px;
      font-size: 12px;
      &:hover {
        background: @vunet-background-color;
      }
    }
    .dropdown-link {
      padding: 3px 0px;
      border-bottom: 0px;
      background-color: @vunet-background-color;
      border-color: none;
      &:hover {
        background-color: @vunet-background-color;
      }
    }
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color:@vunet-text-color;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover > a:after {
    border-left-color: @vunet-text-color;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
  }
}

// Remove white spaces for business metric panels
.bs-metric-panel {
  padding: 0px !important;
}

// Get rid of extra white spaces in visualisations
// added under a dashboard.
.dashboard-panel {
  .panel-content {
    padding: 0px !important;
  }
}

// Data table css

// Table header background
.table-condensed thead tr th{
  background: @data-tables-header-background;
}

.agg-table-group {
  margin-bottom: 0px;
}

.agg-table-group tbody tr:nth-child(odd) {
    background-color: @white;
} /*odd*/

.agg-table-group tbody tr:nth-child(even) {
    background-color: @data-tables-even-row-background;
} /* even*/

.table-condensed {
  margin:0px;
}

.table-condensed-print-report {
  font-family: 'sans-serif' !important;
}

.table-condensed tr th {
  border-left: 1px solid @data-tables-border;
  border-top: 1px solid @data-tables-border;
  border-right: 1px solid @data-tables-border;
  border-bottom:0px;
  padding: 4px 5px;
  font-size: 13px;
  font-weight: normal;
  color: #000;
}

.table-condensed tbody td {
  border-left: 1px solid @data-tables-border;
  border-bottom: 1px solid @data-tables-border;
  border-right: 1px solid @data-tables-border;
  border-top: 0px;
  padding: 4px 5px;
  font-size: 12px;
  color: #000;
}

.table-condensed tbody tr td {
  padding:4px 5px;
}

.agg-table-paginated {
  border:1px solid @data-tables-border;
  // Set the height of empty rows in table / matrix to 22px
  tr td {
    height: 22px;
  }
}

.userCommentSection {
  form {
    width: 100%;
    padding: 2% 10%;
    border: 1px solid #bdbdbd;
    input, select {
      width: 100%;
      height: 22px;
      padding-left: 5px;
      color: #444444;
      background: #fff !important;
    }
    .usercomment-buttons-container {
      padding-top: 8px;
      overflow:hidden;
      button {
        float: right;
        margin-left: 6px;
      }
    }
    .form-element {
      div {
        padding: 0px;
      }
    }
  }
}

