// All the variable for colors are defiend below

//COLORS
@accent_color : #5a4fef;

@white : white;
@black : black;
@green : #399e32;
@red : #f33434;
@orange : #ff8e00;

@notifier_red : #A30000;
@notifier_green:#05a608;

@text_color1 :#323232;
@text_colr_grey : #b4b4b4;
@logo_text_color:#8d8d8d;
@sidebar_text_color: #585858;

@action_bar_background : #f1f2f7;
@view_background: #f6f7fb; 

@disable_button_color:#e8e7ee;
@disable_button_text_color:#ababb1;

@border_color : #b7dae3;
@seperator_color:#f2f3f4;
@border_color_table_checkbox : #BEBEBE ;
@box_shadow_color : rgba(0, 0, 0, 0.06); 


@seperator_color_grey: #efefef;
@background_color_grey: #e5e7e8;

//FONTS
@barlow-regular : 'Barlow-Regular';
@barlow-medium : 'Barlow-Medium';
@barlow-semibold : 'Barlow-Semibold';
@barlow-bold : 'Barlow-Bold';


// VARIABLES USED FOR HEIGHT CALCULATIONS
@topbar-height : 6rem;
@menubar-height-for-listing-pages-and-berlin : 58px; 
@kbn-top-nav-height : 69px;
@kbn-top-nav-height-for-vunet-tabs : 6rem;
@kbn-top-nav-height-with-filter : 106px;
@kbn-top-nav-height-with-filterbar-and-searchbar: 255px;
@menubar-height-for-single-docs : 160px;

//Height variables for viewing content 
@view-content-height-berlin : ~"calc(100vh - @{topbar-height})";
@view-content-height-dashboard : ~"calc(100vh - @{kbn-top-nav-height-with-filter} - @{topbar-height})";
@view-content-height-for-vunet-tabs : ~"calc(100vh - @{kbn-top-nav-height-for-vunet-tabs} - @{topbar-height})"; 
@view-content-height-menubaronly : ~"calc(100vh - @{menubar-height-for-listing-pages-and-berlin} - @{topbar-height})";
@view-content-height-menubaronly-bigger : ~"calc(100vh - @{kbn-top-nav-height} - @{topbar-height})";
@view-content-height-menubar-bigger-withsearch : ~"calc(100vh - @{kbn-top-nav-height-with-filterbar-and-searchbar} - @{topbar-height})";
@view-content-height-single-doc : ~"calc(100vh - @{menubar-height-for-single-docs} - @{topbar-height})";

//Height variables for viewing content in FullScreen Mode
// Small defines menubar with less height (eg berlin,listing pages)
@view-content-fullscreen-height-small:~"calc(100vh - @{menubar-height-for-listing-pages-and-berlin})";
// Medium defines kbn-top-nav height
@view-content-fullscreen-height-medium:~"calc(100vh - @{kbn-top-nav-height})";
// Large defines height of menubar with filterbar
@view-content-fullscreen-height-large:~"calc(100vh - @{kbn-top-nav-height-with-filter})";