@datatable-bg: #F4F4F4;
@datatable-headercell-text-color: #5E5E5E;
@datatable-footercell-text-color: #373A3C;
@datatable-cell-text-color: #373A3C;
@datatable-headercell-border-color: #CDCDCD;
@datatable-footercell-border-color: #CDCDCD;
@datatable-cell-border-color: #E6E6E6;
@datatable-hover-background-color: #F8F8F8;
@datatable-cell-filter-background-color: transparent;
@datatable-even-child-background-color: #F9F9F9;

@datatable-pagination-shortcut-text-color: #7D7D7D;
@datatable-pagination-shortcut-border: #CDCDCD;
@datatable-pagination-active-page-bg: #DFDCFF;
