//## Colors for top level and sub level navigation bar.

@vunet-top-nav-background-color:         @vunet-gray1;
@vunet-border-color:                     @vunet-gray2;
@vunet-background-color:                 @vunet-gray3;
@vunet-text-color:                       @vunet-blue;

// Text color for points on X and Y axis in charts.
@svg-tick-text-color:                    @black;

// Text color for labels of X and Y axis in charts.
@vis-axis-title-color:                   @black;

// data table vis variables
@data-tables-border:                          #e2e2e2;
@data-tables-even-row-background:             #F0F4F6;
@data-tables-header-background:               #C4D3DC;
