//## Colors for top level and sub level navigation bar.

@vunet-top-nav-bakground-color:          @vunet-gray1;
@vunet-border-color:                     @vunet-gray2;
@vunet-background-color:                 @vunet-gray3;
@vunet-text-color:                       @vunet-blue;