//## Vunet basic color schemes

@white:                                 #ffffff;
@black:                                 #000000;

@vunet-gray1:                           #F8F8F8;
@vunet-gray2:                           #BDBDBD;
@vunet-gray3:                           #e7ebee;

@vunet-blue:                            #2e3458;