@import '~ui/styles/vunet_variable_theme.less';

.vunetHideSelector .kuiTableHeaderCell--checkBox {
  display: none;
}
.vunetHideSelector .kuiTableRowCell--checkBox {
  display: none;
}

.vunetHideSearch .kuiToolBarSearchBox{
  display: none;
}

.tool-tip-style {
  width: 400px;
}

.header-style {
  margin-left: 3px;
}


.vunet-table{
  border-radius: 1rem;
  padding-bottom:4rem;

  // Normal Tbale CSS
  .kuiControlledTable{
    box-shadow: 0rem 0rem 1rem .3rem @box_shadow_color;
    border-radius:1rem;
    .kuiPanel--withToolBar{
      border: none;
      border-top: .1rem solid @border_color;
      border-bottom: .1rem solid @border_color;
      background-color: @white;
    }
    .kuiToolBar{
      height: 6vh;
      min-height: 5rem;
      max-height: 10rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      background-color: @white;
      border:none;
      .kuiToolBarSection{
        .kuiPager{
          display:none;
        }
      }
      .kuiToolBarSearch{
        margin-left: 20rem;
        .kuiToolBarSearchBox{
          width:25rem;
          transition:width 2s;
          &:hover{
            width:40rem;
            .kuiToolBarSearchBox__icon{
              color:@accent_color;
              font-size:2rem;
              top:0.5rem;
            }
            .kuiToolBarSearchBox__input{
              font-size: 1.75rem;
              font-family:@barlow-semibold;
              border-radius: 1rem;
            }
          }
          .kuiToolBarSearchBox__icon{
            top: 0.7rem;
            left: 1.3rem;
            font-size: 1.6rem;
            color: @text_colr_grey;
            // position :fixed;
            // left: 50rem;
          }
          .kuiToolBarSearchBox__input{
            border-radius: 2rem;
            font-size: 1.6rem;
            padding: .4rem 1.2rem .5rem 3.8rem;
            font-family: @barlow-regular;
          }
        } 
      }
    }
    .kuiTable{
      border:none;
      thead{
        tr{
          border-top:.1rem solid @seperator_color;
          border-bottom:.1rem solid @seperator_color;
        }
      }
      tbody{
        border-bottom:.1rem solid @seperator_color !important;
      }
      .kuiTableHeaderCell{
        font-family:@barlow-semibold;
        color:@black;
        font-size:1.6rem;
        .kuiTableHeaderCell__liner{
          padding: 1rem 3rem 1rem 2.8rem;
          .kuiCheckBox{
            border-radius : .4rem;
            border: .1rem solid @border_color_table_checkbox;
            width:  1.6rem;
            height: 1.6rem;
            line-height: 1.5rem !important;
            margin: 0rem !important;
            font-size: 1rem !important;
            transition: background-color 0.1s linear;
            &:focus{
              box-shadow:none;
            }
          }
          .kuiCheckBox:before {
            color : @accent_color;
            left : 0.2rem ;
            
          }
          .kuiCheckBox:checked {
            border: .1rem solid @accent_color;
            background-color: @white ;  
          }
        }
      }
      .kuiTableRow{
        .kuiTableRowCell{
          font-size:1.5rem;
          border-top:none;
          padding: 0.5rem 3rem 0.5rem 2rem;
          color:@text_color1;
          .kuiCheckBox{
            border-radius : .4rem;
            border: .1rem solid @border_color_table_checkbox;
            width:  1.6rem;
            height: 1.6rem;
            line-height: 1.5rem !important;
            margin: 0rem !important;
            font-size: 1rem !important;
            transition: background-color 0.1s linear;
            &:focus{
              box-shadow:none;
            }
          }
          .kuiCheckBox:before {
            color : @accent_color;
            left : 0.2rem ;
            
          }
          .kuiCheckBox:checked {
            border: .1rem solid @accent_color;
            background-color: @white ;  
          }
        }
        
      }
    }
    .kuiToolBarFooter{
      border-radius: 1rem;
      height: 6vh;
      min-height: 5rem;
      max-height: 10rem;
      border:none;
    }
  }

  // Inverted Table CSS
  .table-inverted{
    border:none;
    box-shadow: 0rem 0rem 1rem .3rem @box_shadow_color;
    border-radius:1rem;
    thead{
      border-bottom: .1rem solid @seperator_color;
      .kuiTableHeaderCell{
        height: 6vh;
        min-height: 5rem;
        max-height: 10rem;
        font-family:@barlow-semibold;
        font-size:1.6rem;
        color:@accent_color;
        padding-left: 1.5rem;
      }
    }
    tbody{
      .kuiTableRow{
        .kuiTableRowCell{
          font-size:1.5rem;
          border:none;
          .kuiTableRowCell__liner{
            // padding-left: 3rem;
            padding: 1rem 3rem 1rem 2.8rem;
          }
        }
      }
    }
  }

  //all kui-buttons indside our table
  .kuiButton, .kuiButton--hollow, .kuiButton--secondary, .kuiButton--secondary:enabled, .kuiButton--hollow:enabled{
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0.4rem 1.2rem 0.5rem;
    height: 3rem;
    font-size: 1.4rem;
    border: none;
    background-color: #5a4fef;
    color:#ffffff !important;
    box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.06);
    border-radius: 2rem; 
    &:hover{
      background-color: #5a4fef!important;
      border:none;
      color:#ffffff !important;
      text-decoration: none!important;
      font-family: 'Barlow-Bold';
      box-shadow: 0rem 0rem 1rem .7rem rgba(0, 0, 0, 0.06);
      .kuiIcon{
        font-size:1.7rem;
      }
    }
  }
  .kuiButton--danger , .kuiButton--danger:enabled{
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0.4rem 1.2rem 0.5rem;
    height: 3rem;
    font-size: 1.4rem;
    border: none;
    background-color:@red;
    color:#ffffff !important;
    box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.06);
    border-radius: 2rem; 
    &:hover{
      background-color:@red!important;
      border:none!important;
      color:#ffffff !important;
      text-decoration: none!important;
      font-family: 'Barlow-Bold';
      box-shadow: 0rem 0rem 1rem .7rem rgba(0, 0, 0, 0.06);
      .kuiIcon{
        font-size:1.7rem;
      }
    }
  } 
  
  // Disabled vunet-buttons for react components form etc
  .kuiButton:disabled {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    background-color: #e8e7ee!important;
    color:#ababb1!important;    
    padding: 0.4rem 1.2rem 0.5rem;
    height: 3rem;
    box-shadow:none;
    border: none;
    border-radius: 2rem;
    &:hover{
      // box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.06)!important;
      font-family:'Barlow-Regular'!important;
      // color:#fff!important;
    }
  }
}



