
@import "~ui/styles/vunet_variable_theme.less";

.user-feedback-container {
    display: flex;

    .user-feedback-wrapper {
        font-size: 1.4rem;
        padding-top: 2rem;
        padding-left: 20rem;
        padding-bottom: 2rem;
        width: 50%;
        font-weight: bolder;
        border-right: 1px solid @event-console-border-color;

        .reactions-div {
            display: flex;
            padding: 3rem;
            .like-wrapper {
                padding-right: 2rem;
                .like-button {
                    padding-left: 1.5rem;
                    cursor: pointer;
                    border-radius: 50%;
                    padding-right: 3rem;
                    color: @green;
                    padding: 1rem;
                    border: 1px solid @white;
                    width: 6.1rem;
                    height: 6.1rem;
                }
            }
            .dislike-wrapper {
                .dislike-button {
                    padding-left: 1.5rem;
                    cursor: pointer;
                    border-radius: 50%;
                    color: @red;
                    padding: 1rem;
                    border: 1px solid @white;
                    width: 6.1rem;
                    height: 6.1rem;
                }
            }
        }
        .additonal-feedback-section {
            padding-bottom: 1rem;
        }

        .additonal-comment-textarea{
            width: 30rem;
            padding-bottom: 1rem;
            border: 1px solid @event-console-border-color;
        }
        .actions-div {
            margin-top: 2rem;
            .submit-button, .cancel-button {
                background: @event-console-button-background;
                color: @white;
                border: 0;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 7px;
                padding-bottom: 7px;
                border-radius: 20px;
            }
            
            .button-left {
                background: none;
                color: black;
                border: 1px solid #5A4FEF;
                margin-right: 1.5%;
            }
        }
    }

    .overall-feedback {
        font-size: 1.4rem;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
        width: 50%;
        font-weight: bolder;
        .overall-feedback-header {
            padding-bottom: 4rem;
        }

        .like-reaction-details{
            display: flex;

            .like-icon-div{
                padding-right: 3rem;
                padding-left: 3rem;
                color: @green;

                .like-icon {
                    border-radius: 50%;
                    border: 1px solid @blue;
                    padding: 1rem;
                    width: 6.1rem;
                    height: 6.1rem;
                }
            }
            .like-user-details {
                font-weight: normal !important;
                display: flex;

                .user-detail-name {
                    padding-right: 1rem;
                }
            }
        }
        .dislike-reaction-details{
            display: flex;

            .dislike-icon-div{
                padding-right: 3rem;
                padding-left: 3rem;
                color: @red;

                .dislike-icon {
                    border-radius: 50%;
                    border: 1px solid @blue;
                    padding: 1rem;
                    width: 6.1rem;
                    height: 6.1rem;
                }
            }
            .dislike-user-details {
                font-weight: normal !important;
                display: flex;

                .user-detail-name {
                    padding-right: 1rem;
                }
            }
        }
    }
}

.selected-reaction {
    border: 1px solid @blue !important;
    border-radius: 50%;
}

.dislike-options {
    padding-bottom: 1rem;

    .dislike-options-label {
        width: 18vw;
    }

    .checkbox-label {
        padding-left: 3%;
    }
}

.no-user-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}