@import '~ui/styles/vunet_variable_theme.less';

.vunetTabs{
  padding: 1.25rem 0rem 0rem 6rem;
  display:block;
  min-height: 40px;
  height: 6rem;
  background-color: @action_bar_background;
    .kuiTabs{ 
      border-bottom:0px;
      .kuiTab{
        padding:1rem 3rem;
      }
  }
}

.storage-conatiner{
  // background-color: #f6f7fb;
  padding:2.7rem 7rem 0rem 7rem;
  .row {
    margin:0rem;
  }
  .live-indices-table{
    padding:2.5rem 0rem 2.5rem 0rem;
    // This has been done to provide scroll to below pop-up and similar look and feel to live indices popup for symmetry
    .closed-indices-popup, .open-indices-popup{
      ul{
        padding: .5rem 0rem 0rem 1rem;
        background-color: rgb(235, 235, 228);
        height: 15rem;
        overflow-y: auto;
        border-radius: 10px;
        border: 1px solid rgb(183, 218, 227);
        width: 97%;
        font-size: 1.6rem;
      }
    }
  }
  // For the archieved-indices table we remove word wrap
  .archieved-indices-table{
    padding:2.5rem 0rem 2.5rem 0rem;
    .vunet-table{
      .kuiControlledTable{
        .kuiTable{
          .kuiTableRow{
            .kuiTableRowCell{
              .kuiTabelCellSpan{
                white-space: pre-line;
                word-break: break-all;
              }
            }
          }
        }
      }
    }
    // This has been done to provide scroll to below pop-up and similar look and feel to archieve indices popup for symmetry
    .restore-indices-popup, .delete-indices-popup{
      ul{
        padding: .5rem 0rem 0rem 1rem;
        background-color: rgb(235, 235, 228);
        height: 15rem;
        overflow-y: auto;
        border-radius: 10px;
        border: 1px solid rgb(183, 218, 227);
        width: 97%;
        font-size: 1.6rem;
      }
    }
  }
}


