
<visualization-editor
  ng-if="editorMode===true"
  vis="vis"
  vis-data="visData"
  ui-state="uiState"
  print-report="printReport"
  class="vis-editor-content"
  search-source="savedObj.searchSource"
  show-spy-panel="shouldShowSpyPanel()"
/>
<visualization
  ng-if="editorMode!==true"
  class={{vis.type.name}}
  vis="vis"
  vis-data="visData"
  ui-state="uiState"
  search-source="savedObj.searchSource"
  show-spy-panel="shouldShowSpyPanel()"
  id = "vis_visualization"
  print-report="printReport"
  ng-style="{'height': elementHeight, 'width': elementWidth}"
  ng-class="{'bs-metric-panel':vis.type.name === 'business_metric',
             'markdown-panel-heading': isMarkdownVisForHeading(savedObj),
             'html-panel-heading' : isHtmlVisForHeading(savedObj)}"

/>
