<div ng-repeat="eventInfo in section">
  <div ng-repeat="(header,content) in eventInfo">
    <div class="alert-content-block-wrapper">
      <div class="alert-content-block-header"> {{ header }} </div>
      <table class="table agg-table-group custom-table">
        <tr ng-repeat="(key,value) in content">
          <td> {{key}} </td>

          <!-- Showing values for 'Alert_Active_For' and
          'Alert_Frequency_for_Today' in Hours -->
          <td ng-show="ifDisplayCustomTimeFormat(key)">
              {{ value | displayTwoTimeUnits }}
          </td>

          <!-- Converting the UTC format time to local time format -->
          <td ng-if="key=='Alert_Start_Time' ||
                     key=='timestamp'">
             {{ value | date : 'yyyy-MM-dd HH:mm:ss Z' }}
          </td>
          <td ng-show="ifDisplayValue(key)"> {{ value }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>