<div
  class="event-item"
  ng-class="{'al-active': event.isSelected===true}"
  ng-click="showEventInformation({id: event.id, summary: event.summary})">
  <div class="event-name">
    <i
      class="fa event-list-icon"
      ng-class="setIconsForAlertItems(event.severity)"
      aria-hidden="true"></i>
    <span class="event-list-header"> {{ event.severity }} </span>
    <span class="event-list-time">{{ event.timestamp | date : 'yyyy-MM-dd HH:mm:ss Z' }}</span>
  </div>
  <div class="row">
    <div class="col-md-12 event-summary">
      {{ event.summary }}
  </div>
  <div class="row">
    </div>
    <div class="col-md-8 event-summary">
      {{ event.tags }}
    </div>
    <div class="col-md-4 current-status-container">
      <span class="current-status-header"> Status</span>
      <span class="current-status">{{ event['status'] }}</span>
    </div>
  </div>
  <div class="event-history-header"
    ng-if="event.History !== undefined">
    History (Alarm Active Duration)
  </div>
  <div class="row event-list-global-count"
    ng-if="event.History !== undefined">
    <div
      class="event-count-container">
      <span class="event-count">
        {{ event.History.Today['Active For'] | displayTwoTimeUnits }}
      </span>
      <p>Today</p>
    </div>
    <div
      class="event-count-container">
      <span class="event-count">
        {{ event.History['Last 7 Days']['Active For'] | displayTwoTimeUnits }}
      </span>
      <p>Last 7 Days</p>
    </div>
    <div
      class="event-count-container">
      <span class="event-count">
        {{ event.History['Last 1 Month']['Active For'] | displayTwoTimeUnits }}
      </span>
      <p>Last 1 Month</p>
    </div>
    <div
      class="event-count-container">
      <span class="event-count">
        {{ event.duration | displayTwoTimeUnits }}
      </span>
      <p>Recently Active For</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span class="event-view-button">
        Number of similar events: {{event.Similar_Events_Count}}
      </span>
    </div>
  </div>
  <div
    ng-if="event.isSelected===true" 
    class="triangle">
    <img src="/ui/vienna_images/triangle.png">
  </div>
</div>
