<vu-block-list>
  <div class="vublock-navbar">
    <p class="vublock-breadcrumb">vuModule</p>
  </div>
  <div class="vu-block-app-container" data-test-subj="vublock">
    <div class="vu-block-filter-header"> Filter </div>
    <div class="vu-block-toolbar-wrapper">
      <div class="vu-block-toolbar">
        <div class="vu-block-search-wrapper toolbar-item">
          <input type="text" ng-model="searchQuery" placeholder="Search" class="vu-block-search" />
        </div>
        <div class="toolbar-item">
          <input type="checkbox" ng-model="showEnabledVuBlocks" ng-change="onToggleEnabledVuBlock()" />
          <span class="toolbar-item-text">Enabled ({{ enabledVuBlockCount }})</span>
        </div>
        <div class="toolbar-item">
          <input type="checkbox" ng-model="showDisabledVuBlocks" ng-change="onToggleDisabledVuBlock()" />
          <span class="toolbar-item-text">Disabled ({{ disabledVuBlockCount }})</span>
        </div>
      </div>
    </div>
    <div class="vu-block-section-wrapper">
      <div ng-if="showComponentVuBlocks">
        <vu-block-section name="Component Blocks" description="Packaged for standard integrations with pre-configured
                        Data sources, Storyboards and Alert Rules.
                        To start the data pipeline and enable the ETL process for a block,
                        complete the data source configuration and enable the block" search-query="searchQuery"
          vu-block-list="componentVuBlockList">
        </vu-block-section>
      </div>
    </div>
  </div>
</vu-block-list>