<vu-block-list>
  <div class="vu-block-app-container" data-test-subj="vublock">
    <div class="vu-block-toolbar">
      <div class="vu-block-search-wrapper toolbar-item">
        <input
          type="text"
          ng-model="searchQuery"
          placeholder="Search vuBlocks"
          class="vu-block-search">
      </div>
      <div class="toolbar-item">
        <vunet-switch
          on-change="onToggleActivateVuBlock"
          checked="showActivatedVuBlocks"
        >
        </vunet-switch>
        <span class="toolbar-item-text">Active</span>
      </div>
      <div class="toolbar-item">
        <vunet-switch
          on-change="onToggleTouchPointVuBlock"
          checked="showTouchPointVuBlocks"
        >
        </vunet-switch>
        <span class="toolbar-item-text">Touch Point Blocks</span>
      </div>
      <div class="toolbar-item">
        <vunet-switch
          on-change="onToggleLogicalVuBlock"
          checked="showLogicalVuBlocks"
        >
        </vunet-switch>
        <span class="toolbar-item-text">Logical Blocks</span>
      </div>
      <div class="toolbar-item">
        <span class="toolbar-item-text">
          <a href="">Add New Block</a>
        </span>
      </div>
      <div class="toolbar-item">
        <span class="toolbar-item-text">
          <a href="">Import</a>
        </span>
      </div>
    </div>
    <div class="vu-block-section-wrapper">
      <div ng-if="showLogicalVuBlocks">
        <vu-block-section
          name="'Logical Blocks'"
          search-query="searchQuery"
          vu-block-list="logicalVuBlockList">
        </vu-block-section>
      </div>
      <div 
        ng-if="showLogicalVuBlocks && showTouchPointVuBlocks"
        class="section-separator">
      </div>
      <div ng-if="showTouchPointVuBlocks">
        <vu-block-section
          name="'Touch Point Blocks'"
          search-query="searchQuery"
          vu-block-list="touchPointVuBlockList">
        </vu-block-section>
      </div>
    </div>
  </div>
</vu-block-list>