@import "~ui/styles/vunet_variable_theme.less";

.primary{
    border: 1px solid @title-color;
    border-radius: @box-border-radius;
    padding: @input-padding;
    color: @white;
    background-color: @title-color;
}

.primary:focus{
    box-shadow: none;
}

.secondary{
    border: 1px solid @title-color;
    border-radius: @box-border-radius;
    padding: @input-padding;
    color: @title-color;
    background-color: @white;
}

.secondary:focus{
    box-shadow: none;
}

.table-action-primary{
    border: 1px solid @grey_light;
    border-radius: @box-border-radius;
    padding: @input-padding;
    color: @button-bg;
    background-color: @grey_lighter;
}

.table-action-primary:hover{
    color: @button-bg;
    background-color: @grey_dark;
    border: 1px solid @grey_dark;
}

.table-action-primary:focus{
    box-shadow: none;
}

.table-action-secondary{
    border: 1px solid @button-border;
    border-radius: @box-border-radius;
    padding: @input-padding;
    color: @grey_dark;
    background-color: @button-bg;
}

.table-action-secondary:hover{
    color: @grey_dark;
    background-color: @white;
}

.table-action-secondary:focus{
    box-shadow: none;
}