@import (reference) "~ui/styles/mixins.less";
@import '~ui/styles/vunet_variable_theme.less';

.inputControlVis {
  width: 100%;
  margin: 0 5px;

  .inputControlVisContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .inputControlVisItem {
    flex: 0 0 20%;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
  }

  .inputRangeContainer {
    display: inline-block;
    width: 70%;
  }

  input.kuiTextInput {
    width: 15%;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  // hide slider labels since they are displayed in inputs
  .input-range__track {
    .input-range__label-container {
      display: none;
    }
  }

  // do not center min/max labels - otherwise the overlfow slider sides
  .input-range__label-container {
    left: 0% !important;
  }

  .actions {
    margin-top: 5px;
  }

  // This has been done to match the design according to latest UI/UX upliftment
  .kuiVerticalRhythm{
    .kuiLabel{
      font-size: 12px!important;
      color: @control_vis_label!important;
    }
    .kuiVerticalRhythmSmall{
      margin-top: 2px!important;
      .Select{
        .Select-control{
          .Select-clear-zone{
            .Select-clear{
              font-size: 22px;
            }
          }
          .Select-arrow-zone{
            .Select-arrow{
              border-width: 7px 7px 2.5px;
            }
          }
        }
      }
      .is-open{
        .Select-control{
          .Select-arrow-zone{
            .Select-arrow{
              border-width: 0px 7px 7px!important;
            }
          }
        }
      }
    }
  }
}

visualization.input_control_vis {
  overflow: visible;

  .vis-container {
    overflow: visible;
  }
}

.disable-msg-tooltip {
  width: 200px;
  z-index: 1000;
}

.rangeErrorMsg {
  color: red;
}

