@import "~ui/styles/vunet_variable_theme.less";

.get-started-wrapper {
    .loading-indicator{
        text-align: center;
        padding: 8rem 0;
        .loading-text {
            color: @vublock-store-loading-text-color;
        }
    }
    .action-buttons-section {
        display: flex;
        justify-content: flex-end;
        button {
            border-radius: 0.5rem;
            color: @vublock-store-button-text-color;
            font-size: 1.4rem;
            font-family: 'Inter-Bold';
            padding: 1.2rem 4.6rem;
            box-shadow: none;
            outline: 0;
            margin: 0 1rem 3rem 1rem;
        }
        .vublock-edit-button {
            border: 1px solid @vublock-store-accent-color;
            background: @vublock-store-accent-color;
        }
        .vublock-discard-button {
            border: 1px solid @vublock-store-grey;
            background: @vublock-store-grey;
        }
        .vublock-save-button {
            border: 1px solid @vublock-store-accent-color;
            background: @vublock-store-accent-color;
        }
    }
    .get-started-form {
        .template-format-input {
            width: 250px;
        }
    }
    .get-started-text-area {
        height: 300px;
    }
}