<paginate ng-if="sortedRows.length"
          list="sortedRows"
          per-page-prop="perPage"
          class="agg-table"
          color-schema="colorSchema"
          link-info="linkInfo"
          interval="interval"
          print-report="printReport"
          add-sr-number="addSrNumber"
          sr-number-title="srNumberTitle"
          cumulative-row-operation="cumulativeRowOperation"
          cumulative-column-operation="cumulativeColumnOperation">
  <div class="agg-table-paginated"
       ng-class="{'show-less-chars':isMatrix && printReport && isCollapseTimeHeaders}">
    <table class="table table-condensed"
           ng-class="{'table-condensed-print-report': printReport}"
           style="page-break-inside:auto">
      <thead data-test-subj="paginated-table-header"
             style="display:table-header-group;">
        <tr>
          <th ng-if="addSrNumber">
            <h6 class="zero-margin">{{srNumberTitle}}</h6>
          </th> 
          <th scope="col"
              ng-if="!isMatrix"
              ng-repeat="col in columns"
              ng-click="paginatedTable.sortColumn($index)"
              kbn-accessible-click
              tabindex="0"
              class="{{ col.class }}"
              ng-show="paginatedTable.checkMatrix(col.show)">
            <span ng-bind="::col.title"></span>
            <kbn-info ng-if="col.info"
                      info="{{ col.info }}"
                      placement="top"></kbn-info>
            <i ng-if="col.sortable !== false"
               class="fa"
               ng-class="{
              'fa-sort-asc': paginatedTable.sort.columnIndex === $index && paginatedTable.sort.direction === 'asc',
              'fa-sort-desc': paginatedTable.sort.columnIndex === $index && paginatedTable.sort.direction === 'desc',
              'fa-sort': paginatedTable.sort.columnIndex !== $index || paginatedTable.sort.direction === null
              }">
            </i>
          </th>
          <th scope="col"
              ng-if="isMatrix"
              ng-repeat="col in columns"
              tabindex="0"
              style="word-wrap:break-word;"
              class="{{ col.class }} cell-hover"
              ng-show="paginatedTable.checkMatrix(col.show)">
            <h6 class="zero-margin">
              <span  ng-click="paginatedTable.filterColumn($index)" ng-bind="col.title"></span>
              <span  ng-click="paginatedTable.sortColumn($index)" ng-if="!printReport">
                <i ng-if="col.sortable !== false"
                   class="fa"
                   ng-class="{
                  'fa-sort-asc': paginatedTable.sort.columnIndex === $index && paginatedTable.sort.direction === 'asc',
                  'fa-sort-desc': paginatedTable.sort.columnIndex === $index && paginatedTable.sort.direction === 'desc',
                  'fa-sort': paginatedTable.sort.columnIndex !== $index || paginatedTable.sort.direction === null
                  }">
                </i>
              </span>
            </h6>
          </th>
          <th ng-if="isMatrix && cumulativeColumnOperation !== null">
            <h6 class="zero-margin">Cumulative ( {{cumulativeColumnOperation.charAt(0).toUpperCase() + cumulativeColumnOperation.slice(1)}} )</h6>
          </th>
        </tr>
      </thead>
      <tbody kbn-rows="page"
             kbn-cols='columns'
             kbn-rows-min="perPage">
      </tbody>
      <tfoot ng-if="showTotal">
        <tr>
          <th scope="col"
              ng-repeat="col in columns"
              class="numeric-value">{{col.total}}</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- auto-inserted by the paginate directive... -->
  <!-- <paginate-controls></paginate-controls> -->
  <div class="pagination-container"
       ng-transclude></div>
</paginate>
