<div class="flex-container">
  <div class="tab-header">ANALYTICS</div>
  <div class="flex-container global-nav-link-container">
    <global-nav-link
      ng-repeat="link in switcher.links"
      ng-if="!link.hidden"
      is-active="link.active"
      is-disabled="link.disabled"
      on-click="switcher.ensureNavigation($event, link)"
      url="link.active ? link.url : (link.lastSubUrl || link.url)"
      icon="link.icon"
      label="link.title">
    </global-nav-link>
    <div class="fullscreen-button" ng-click="toggleFullscreen()">
      <i class="fa fa-arrows-alt"></i>
    </div>
  </div>
</div>