@import '~ui/styles/vunet_variable_theme.less';

.vunet-network-configuration{
  .kuiLocalNavRow{
    .kuiLocalNavRow__section{
      display:none;
    }
  }
  .vunet-table {
    padding: 2.7rem 7rem 1rem 7rem;
  }
  .upperNetworkbar{
    padding: 2.7rem 7rem 0rem 7rem;
    margin:0rem;
    .router-number-container{
      background-color: @white;
      height: 10rem; 
      border-radius: 2rem;
      box-shadow: 0rem 0rem 1rem 0.3rem @box_shadow_color ;
      .col-sm-3{
        font-size: 2.5rem;
        padding-top: 3rem;
        font-family: @roboto-medium;
      }  
      .col-sm-5{
        font-size: 2.5rem;
        padding-top: 3rem;
        font-family: @roboto-medium;
      }
      .fa-bullseye{
        font-size: 7rem;
        padding-top: 1.4rem;
      }
    }
  }
  .kuiToolBarText {
    display: none;
  }
}

.network-configuration-modal .modal-dialog {
  width: 90vw;
}
