@import '~ui/styles/vunet_variable_theme.less';

.network-configuration-modal{
  .modal-dialog{
    .modal-content{
      .header-row{
        text-align: center;
        border-bottom: .2rem solid @border_color;
      }
      .nothing-todisplay-container{
        font-size: 3.5rem;
        padding: 3rem;
      }
      .row{
        margin:0rem;
        .network-modal-header{
          text-align:center;
          font-family: @inter-bold;
          // color:@accent_color;
          font-size:2.8rem;
          display: inline-block;
          padding: 1rem 0rem; 
        }
        .fa-times{
          font-size: 3rem;
          padding: 1.3rem 2rem;
        }       
        .recent-config-container{
          h4{
            padding: 1rem 0rem 1rem 3rem;
            font-family: @inter-medium;
            color:@accent_color; 
            font-size:2.2rem;
          }
          .config-item{
            font-size:1.9rem;
            padding: .5rem 0rem .5rem 2rem;
            span{
              padding-left: 1rem;
            }
          }
          .bottom-action-row{
            padding:2.5rem 0rem 2.5rem 1.5rem;
            
          }
        }
        .router-config-container{
          h4{
            text-align:center;
            font-family: @inter-medium;
            color:@accent_color; 
            font-size:2.2rem;
            padding: 1rem 0rem
          }
          .config-content{
            overflow: auto;
            max-height: 43rem;
            padding:0rem;
          }
        }
      }
    }
  }
}