@import '~ui/styles/vunet_variable_theme.less';

.dcm-title{
    font-family     : @inter-medium;
    font-weight     : normal;
    color           : @title-color;
    position        : relative;
    padding         : 2rem 0rem 0rem 3rem;
    font-size       : 1.9rem;
    min-height      : 7rem;
    background-color: @title-bg-color;
    border          : none;
}