@import "~ui/styles/vunet_variable_theme.less";

.column-selector-container {
  position        : fixed;
  z-index         : 1000;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  display         : flex;
  justify-content : center;
  align-items     : center;
  background-color: rgba(0, 0, 0, 0.5);

  .column-selector-wrapper {
    position        : absolute;
    background-color: @white;
    width           : 25%;
    z-index         : 100;
    box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius   : 1.5rem;

    .column-selector-header {
      padding                : 4%;
      font-size              : 2rem;
      font-weight            : bold;
      background             : @event-console-detail-info-background-color;
      border-top-right-radius: 1.5rem;
      border-top-left-radius : 1.5rem;
    }

    .column-selector-body {
      display: block;
      width  : 100%;

      .column-selector {
        display       : block;
        width         : 100%;
        padding-left  : 5px;
        padding-right : 5px;
        padding-bottom: 5px;

        .column-selector-checkbox-wrapper {
          border       : 1px solid @event-console-border-color;
          height       : 35vh;
          overflow-y   : scroll;
          border-radius: 3px;
          padding      : 3%;
          margin       : 3%;

          .field {
            padding: .5rem;

            label {
              margin-left   : 6px;
              text-transform: capitalize;
              font-weight: normal;
            }
          }
        }
      }

      .column-selector-buttons {
        margin-right: 1.5rem;

        .event-console-button {
          float       : right;
          margin-right: 2%;
        }

        .cancel-button {
          background-color: @white;
          color           : @accent_color;
          border          : 1px solid @accent_color;
        }

        .column-selector-button {
          font-size    : 1.5rem;
          margin-bottom: 2rem;
        }
      }
    }

    .column-selector-search {
      padding: 4%;

      input {
        width         : 100%;
        border        : 1px solid @event-console-border-color;
        padding-left  : 10px;
        padding-right : 10px;
        padding-top   : 5px;
        padding-bottom: 5px;
      }
    }
  }
}