@import '~ui/styles/vunet_variable_theme.less';

.import-modal-header{
  color:@accent_color;
  text-align: center;
  font-family: @barlow-semibold;
  font-size:2.5rem;
  padding:1rem 0rem 0.5rem 0rem;
}

form{
  padding: 3rem 2rem 2rem 2rem;
  border-top: .1rem solid @box_shadow_color;
  .vunet-btn-import{
    border-radius:0rem;
    width: 90%;
    margin-left: 2rem
  }
  .help-block{
    padding: 1rem 0rem 1.5rem 0rem;
    color:@text_colr_grey;
  }
}
.import-success{
  padding:4rem;
  font-size:2rem;
  font-family:'Barlow-medium';
  text-align: center;
  color:@green;
}