@import '~ui/styles/vunet_variable_theme.less';

.import-modal-header{
  color:@accent_color;
  text-align: center;
  font-family: @inter-medium;
  font-size:2.5rem;
  padding:1rem 0rem 0.5rem 0rem;
}

.uploadFileForm , .importEnrichmentForm{
  padding: 3rem 2rem 2rem 2rem;
  border-top: .1rem solid @box_shadow_color;
  .help-block{
    padding: 1rem 0rem 1.5rem 0rem;
    color:@text_colr_grey;
  }
  .error-block{
    color: @notifier_red ;
  }
}
.uploadFileForm {
  input{
    width: 90%;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 0rem!important;
  }
}

.import-success , .import-enrichment-success{
  padding:4rem;
  font-size:2rem;
  font-family:@inter-medium;
  text-align: center;
  color:@green;
}