<form name="vuReferenceLinkForm">
  <div class="form-group bottom-space">
    <label>
      Reference Link
      <kbn-tooltip
        text="Enable this to provide a reference to a specific Dashboard or Events page"
        placement="right"
        append-to-body="1">
        <span>
          <i
            class="fa fa-question-circle"
            aria-hidden="true">
          </i>
        </span>
      </kbn-tooltip>
    </label>
    <input
      type="checkbox"
      class="vudata-checkbox"
      ng-model="referenceLink.enabled"/>
    <div ng-if="referenceLink.enabled">
      <select 
        class="form-control"
        name="type"
        ng-model="referenceLink.type"
        >
        <option value="dashboard">Dashboard</option>
        <option value="event">Events</option>
      </select>
      <div class="referenceLinkDashboard" ng-if='referenceLink.type=="dashboard"'>
        Select Dashboard:
        <select 
          class="form-control"
          name="referenceLinkDashboard"
          ng-options="option as option.title for option in dashboardList track by option.id"
          ng-model="referenceLink.dashboard"
          ng-required='referenceLink.type=="dashboard"'>
        </select>
      </div>
      <label>Search String</label>
      <kbn-tooltip
        text="Apply this additional search string when moving to the reference link"
        placement="right"
        append-to-body="1">
        <i class="fa fa-question-circle table-vis-help-hover"></i>
      </kbn-tooltip>
      <input
        type="text"
        ng-model="referenceLink.searchString"
        class="form-control"
      />
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            ng-model="referenceLink.retainFilters"
          />
          Retain currently applied filters
          <kbn-tooltip
            text="Enable this to ensure that currently present filters are maintained when using this reference link."
            placement="right"
            append-to-body="1">
            <i class="fa fa-question-circle table-vis-help-hover"></i>
          </kbn-tooltip>
        </label>
        <label>
          <input
            type="checkbox"
            ng-model="referenceLink.useMetricFilter"
          />
          Apply metric filter
          <kbn-tooltip
            text="Apply the filter specified for this metric when moving to the reference link"
            placement="right"
            append-to-body="1">
            <i class="fa fa-question-circle table-vis-help-hover"></i>
          </kbn-tooltip>
        </label>
      </div>
    </div>
  </div>
</form>
