<div
  class="dropdown searchable-multi-select form-control"
  dropdown
  on-toggle="toggled(open)">
  <div
    class="dropdown-toggle selected-values-container"
    data-toggle="dropdown"
    dropdown-toggle
    data-target="#"
    ng-class="{'disabled': readOnly}">
    <div
      class="limit-ellipsis"
      ng-style="{ 'width' : width }">
      <span ng-class="{'searchable-multi-select-blank': commaDelimitedSelected() === ''}">
        {{ commaDelimitedSelected() }}
      </span>
      <b
        class="caret"
        ng-if="!readOnly && allItems.length">
      </b>
    </div>
   </div>
  <ul ng-if="!readOnly && allItems.length" class="dropdown-menu dropdown-menu-form form-control" role="menu">
    <li>
      <input type="text" class="form-control" ng-model="searchQuery" placeholder="Search">
    </li>
    <div class="fixed-search-top">
    <li ng-repeat="item in allItems  | orderBy:valueAttr track by $index" 
        ng-hide="item.hasOwnProperty('description') ? ( searchQuery.length && (item[valueAttr].toLowerCase().indexOf(searchQuery.toLowerCase()) < 0 
                                        && item[displayAttr].toLowerCase().indexOf(searchQuery.toLowerCase()) < 0) ) : 
                                        searchQuery.length && item[valueAttr].toLowerCase().indexOf(searchQuery.toLowerCase()) < 0 ">
      <label class="checkbox clickable" ng-click="updateSelectedItems(item, $index)" ng-class="{'item-selected': isItemSelected(item[valueAttr]) }">
        <div class="row">
          <div ng-class="{'col-sm-12': displayAttr === undefined, 'col-sm-4': displayAttr !== undefined}">
            <span class="fa fa-circle-thin clickable" ng-show="!isItemSelected(item[valueAttr])"></span>
            <span class="fa fa-check-circle clickable" ng-show="isItemSelected(item[valueAttr])"></span>
            {{ item[valueAttr] }}
          </div>
          <div ng-if="item[displayAttr] != ''" ng-class="{'col-sm-8': item[displayAttr] !== 'undefined'}">
            {{ item[displayAttr] }}
          </div>
        </div>
      </label>
    </li>
  </div>
  </ul>
</div>