<form
  name="myForm"
  role="form"
  ng-submit="opts.saveDataSource()"
>
  <h2 class="kuiLocalDropdownTitle">
    Save Search
  </h2>
  <div class="kuiLocalDropdownHeader">
    <label
      class="kuiLocalDropdownHeader__label"
      for="saveSearchTitle"
    >
      Title
    </label>
  </div>

  <input
    class="kuiLocalDropdownInput vienna-object-title"
    id="SaveSearch"
    name="SaveSearch"
    ng-maxlength="64"
    maxlength="65"
    ng-pattern="/^[^#?%\/\\]+$/"
    ng-model="opts.savedSearch.title"
    input-focus="select"
    placeholder="Name this search..."
    aria-label="Name"
    required
  >
  <p class="error-highlight" ng-show="myForm.SaveSearch.$error.maxlength || myForm.SaveSearch.$invalid" aria-hidden="true">
      Title content must not exceed 64 characters and should not contain /, \, #, %, ?.
  </p>
  <div>
    <label>
        Number of entries to display
      <kbn-tooltip text="Give the size(number of documents to display)">
        <i class="fa fa-question-circle table-vis-help-hover"></i>
      </kbn-tooltip>
      <input
        type="number"
        min="1"
        max="10000"
        ng-model="opts.sampleSize">
    </label>
  </div>

  <rbac-user-role
    allowed-roles="opts.allowedRoles"
    owner="opts.owner">
  </rbac-user-role>

  <button
    ng-disabled="myForm.$invalid"
    data-test-subj="discoverSaveSearchButton"
    type="submit"
    class="kuiButton kuiButton--primary kuiVerticalRhythmSmall"
  >
    Save
  </button>
</form>
