<form
  name="myForm"
  role="form"
  ng-submit="opts.saveDataSource()"
>
  <h2 class="kuiLocalDropdownTitle">
    Save Search
  </h2>
  <div class="kuiLocalDropdownHeader">
    <label
      class="kuiLocalDropdownHeader__label"
      for="saveSearchTitle"
    >
      Title
      <kbn-tooltip
        text="Title should not be more than 64 characters"
        placement="right"
        append-to-body="1">
        <span>
          <i
            class="fa fa-question-circle"
            aria-hidden="true">
          </i>
        </span>
      </kbn-tooltip>
    </label>
  </div>

  <input
    class="kuiLocalDropdownInput"
    id="SaveSearch"
    maxlength="64"
    ng-model="opts.savedSearch.title"
    input-focus="select"
    placeholder="Name this search..."
    aria-label="Name"
    required
  >
  <div>
    <label>
        Number of entries to display
      <kbn-tooltip text="Give the size(number of documents to display)">
        <i class="fa fa-question-circle table-vis-help-hover"></i>
      </kbn-tooltip>
      <input
        type="number"
        min="1"
        max="10000"
        ng-model="opts.sampleSize">
    </label>
  </div>

  <rbac-user-role
    allowed-roles="opts.allowedRoles"
    owner="opts.owner">
  </rbac-user-role>

  <button
    ng-disabled="myForm.$invalid"
    data-test-subj="discoverSaveSearchButton"
    type="submit"
    class="kuiButton kuiButton--primary kuiVerticalRhythmSmall"
  >
    Save
  </button>
</form>
