<form
  name="myForm"
  role="form"
  ng-submit="opts.saveDataSource()"
>
  <h2 class="kuiLocalDropdownTitle">
    Save Search
  </h2>

  <input
    class="kuiLocalDropdownInput"
    id="SaveSearch"
    ng-model="opts.savedSearch.title"
    input-focus="select"
    placeholder="Name this search..."
    aria-label="Name"
    required
  >
  <div>
    <label>
        Number of entries to display
      <kbn-tooltip text="Give the size(number of documents to display)">
        <i class="fa fa-question-circle table-vis-help-hover"></i>
      </kbn-tooltip>
      <input
        type="number"
        min="1"
        max="10000"
        ng-model="opts.sampleSize">
    </label>
  </div>

  <saved-object-save-as-check-box
    class="kuiVerticalRhythmSmall"
    saved-object="opts.savedSearch"
  ></saved-object-save-as-check-box>

  <rbac-user-role
    allowed-roles="opts.allowedRoles"
    owner="opts.owner">
  </rbac-user-role>

  <button
    ng-disabled="myForm.$invalid"
    data-test-subj="discoverSaveSearchButton"
    type="submit"
    class="kuiButton kuiButton--primary kuiVerticalRhythmSmall"
  >
    Save
  </button>
</form>
